<!DOCTYPE html>
<html>
<head>
<title>CENSUS</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="ambclasse_css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="ambclasse_css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="ambclasse_css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="ambc_classe_css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<div class="header" id="header">
		<div class="header-top">
			
			<div class="container">
			<div class="row">
			
			<div class="col-sm-2">
				
				<div class="logo text-center">
				<p style="margin:10px;"><a href="index.html">CENSUS by TQS</a></p>
			</div>
				
				
				</div>
				<div class="col-sm-8">
				
				<!-- navigation -->
<div class="navigation">
	
		<nav class="navbar navbar-default">
		 
			<!-- Brand and toggle get grouped for better mobile display -->
			
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			

			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
				<!--	<li><a href="about.html">About</a></li>-->
					
					<li><a href="gallery.html">Wear your brand</a></li>
					<li><a href="membership.html">The Census Club</a></li>
					
					<li><a href="contact.html">Contact Us</a></li>
				  </ul>
			 			</div><!-- /.navbar-collapse -->
				
		</nav>
	
</div>
<!-- //navigation -->
</div>

				<div class="col-sm-2">
				<p class="phonenum" style="padding:none;">
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ 655 8858 2068 54892</p>
				</div>
		
			</div>
		</div>
	</div>
	</div>
	
	
	<div class="logo text-center">
				<h2 style="margin:20px;"><a href="index.html">CENSUS by TQS</a></h2>
			</div>

<!-- Bootstrap FAQ - START -->

<!-- //news -->

<div class="container">
<h3 class="text-center"> Affiliates </h3>
<div class="col-sm-12 col-md-12 col-lg-12">
<h3>Partner with us and earn commissions now!</h3>
<p>
Earn 2% commission on sales while providing your customers with special offers and promotions! It's easy. Amb Classe is part of the Linkshare Affiliate Network, which is home to thousands of affiliates and merchants. Anyone can join! Just register as an affiliate via this Linkshare link.  Once you are registered, click the ‘programs’ tab, search for AmbClasse.com in the ‘advertiser search’ bar and request to be added as our affiliate. Whenever your visitors make a purchase on AmbClasse.com, you make money on the sale. </p>

<a href= " http://ambclasse.com/contact">JOIN NOW</a>
<h3>Amb Classe Affiliate Program</h3>
<strong>What is the Amb Classe affiliate program?</strong>

<p>AmbClasse.com is the world leader in streetwear culture and clothing. If you attract fans of streetwear fashion, lifestyle, and culture, AmbClasse.com wants to partner with you!

The Amb Classe affiliate program allows you to make commissions by referring sales from your website to AmbClasse.com.
</p>
<strong>
Why become a Amb Classe Affiliate?</strong>
<p>
You can make money by driving us sales and engaging your visitors at the same time (not just by sending them to AmbClasse.com), but by hooking them up with exclusive promotional offers, sales, and original content! If you know what’s good for you, quit wasting time, and start earning some serious cash! All it takes is posting the Amb Classe links, banners and/or logos that we designed and prepared for your site.</p>

<strong>
How does it work?</strong>
<p>
Just follow the link provided above, sign-up as an affiliate through Linkshare, request to join AmbClasse.com by clicking the ‘programs’ tab, search for AmbClasse.com in the ‘advertiser search’ bar, and start earning commissions based on our tiered commission structure.</p>

<strong>What’s the catch?</strong><br/> This is too good to be true.<br/>

There is no catch! It is absolutely free to fill this form and checks are sent out monthly. <a href="http://ambclasse.com/contact">Click here.</a><p> &nbsp; </p>

<strong>What type of graphic materials is available for my site?</strong>

<p>Amb Classe provides you with a large variety of banners, logos, product links, text links, videos and more! Amb Classe knows how important the aesthetics of your site are to you, therefore we have compiled banners in different shapes and colors to suit your website’s needs.</p>

<strong>How will I know if my site is eligible to become a Amb Classe affiliate?</strong>
<p>
It’s easy, just join the program via the link provided, request to become an affiliate, answer a few questions and wait for approval to be sent via email.</p>

<strong>Who can I contact for more information or if I have questions about the program?</strong>
<p>
Email:ambclass.enterprises@gmail.com

</p>
 <a href="http://ambclasse.com/contact"> JOIN NOW</a>
 <h1>&nbsp; </h1>
</div>
</div>
	</div>
		<!-- footer-section -->
	<div class="footer">
	
	<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					<h5>About Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in purus nibh. Donec ornare felis neque. Nullam tortor nulla, sodales quis posuere quis, tristique nec libero. Proin vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat. </p>
				</div>
				<div class="col-md-1 footer-grid">
				&nbsp;
				</div>
				<div class="col-md-3 footer-grid">
					<h5>HELP</h5>
					<ul style="list-style:none;">
					<li style="color: #9C9C9C;"> BLOGS </li>
					<li><a target="blank" href="t&c.html" style="color: #9C9C9C;">TERMS AND CONDITION</a></li>
					<li><a target="blank" href="privacy.html" style="color: #9C9C9C;">PRIVACY POLICY</a></li>
					<li style="color: #9C9C9C;"> RETURNS</li>
					<li style="color: #9C9C9C;">AFFILATES</li>
					<li ><a target="blank" href="faq.html" style="color: #9C9C9C;">FAQ'S </a></li>
					</ul>
					
					
				</div>
								<div class="col-md-4 footer-grid">
					<h5>Follow Us</h5>
					<p>Follow us on Social Media for more content & behind the scenes from the Census team!<br> Use <b><font color="blue">#Census.me</font></b> to share your own Fashion Show content.</p>
					
					
					
			<div class="social-icons footer-social-icons">
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="google-plus"></i></a>
				<p>Mail Us:<a href="mailto:mona.malik812@gmail.com.com"> &nbsp; info@census.com</a>
			</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
			
			<div class="form">
            <form action="https://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=tumblr/zFuC', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" target="popupwindow">
               <input class="email2" name="email" placeholder="Your Email Address" type="text" style="width:383px;     background:rgba(252, 252, 252, 0.13)">
               <input name="uri" type="hidden" value="tumblr/zFuC">
               <input name="loc" type="hidden" value="en_US">
               <input class="btn2" type="submit" value="Subscribe">
            </form>
         </div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	
	<!-- //footer-section -->
</body>
</html>