<!DOCTYPE HTML>

<html>
	<head>
		<title>LEGALMAN</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>

			<!-- Main -->
			<div class="contact-us" style=" background-image: url(images/images.jpg);background-repeat: no-repeat;background-size: cover;">
				<section id="main" class="container 75%">
				<div class="box" style="background: rgba(19, 18, 18, 0.42);">
						<form method="post" action="#">
						<h3 style="color:#fff; text-align:center;">LEGAL ADVICE IN A MINUTE </h3>
						<p style="color:#fff; text-align:center;">Ask Anything Anytime!!!</p>
							<!--<p style="color:#fff; text-align:center;">Ask Anything Anytime</p>-->
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
											
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="email" name="email" id="email" value="" placeholder="Email" />
											</div>
										</div>
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<input type="text" name="contact" id="contact" value="" placeholder="Phone No" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="text" name="company" id="company" value="" placeholder="Company Name" />
											</div>
										</div>
										
										<div class="row uniform 50%">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<div class="row uniform">
											<div class="12u" style="padding-left:200px;">
												<ul class="actions">
													<li><input type="submit" value="Send Message" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
											</div>
										</div>
									</form>
					</div>
				</section>

				
			<!-- Footer -->
				<footer id="footer" class="footer">
			<% include ./footer.html %>
				</footer>

				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>