<!DOCTYPE HTML>

<html>
	<head>
		<title>cart</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				<section style="background:#f7f7f7;">
				<div class="container">
				<div class="row gapt60">
				<div class="4u 12u(narrower)">
				&nbsp;
				</div>
				
				<div class="4u 12u(narrower)">
				<img src="images/cart1.jpg">
				</div>
				<div class="4u 12u(narrower)">
				&nbsp;
				</div>
				</div>
				
				<div class="thanks-bottom">
				<h2> Your cart is currently empty </h2>
				</div>
                
				<div class="row gapb60">
				<div class="4u 12u(narrower)">
				&nbsp;
				</div>
				<div class="4u 12u(narrower)">
				<ul class="actions fit">
				<li><a href="/" class="button fit"> Click Here To Find Out More</a></li>
				</ul> 
				</div>
				<div class="4u 12u(narrower)">
				&nbsp;
				</div>
				</div>
				
				</div>
				<section>
				
					<!-- Footer -->
				<footer id="footer" class="footer"> 
					<% include ./footer.html %>
				</footer>
				