
<!DOCTYPE html>
<html>
<head>
<title>Amb Classe Membership</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
<% include ./header.html %> 
 
  

<!-- //navigation -->


		
			</div>

			</div>
			
			
			<div class="banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
       <img src="images/slide6.jpg" alt="">
       <div class="carousel-caption hidden-xs"> 
        <div class="titles">
        <h1>2 - 4 ITEMS MONTHLY</h1>
		<h4>$75 EVERY 30 DAYS </h4>
		<h3> &nbsp; </h3>
<p>For $75 monthly, we'll send you 2 to 4 items 
catered to your sizes and style. Our service helps you with great outfits one box at a time. </p>

<a href="/ambclassequestion" class="btn btn-lg btn-info2">Get Started</a>
        </div>
       
        </div>
      </div>
        
    <div class="item">  
       <img src="images/slide5.jpg" alt="">
        <div class="carousel-caption  hidden-xs"> 
        <div class="titles">
        <h1>2 - 4 ITEMS MONTHLY</h1>
		<h4>$75 EVERY 30 DAYS </h4>
		<h3> &nbsp; </h3>
<p>For $75 monthly, we'll send you 2 to 4 items 
catered to your sizes and style. Our service helps you with great outfits one box at a time. </p>
 
        </div>
       
        </div>
    </div>
    <div class="item">
       <img src="images/slide4.jpg" alt="">
        <div class="carousel-caption  hidden-xs"> 
        <div class="titles">  
       <h1>2 - 4 ITEMS MONTHLY</h1>
		<h4>$75 EVERY 30 DAYS </h4>
		<h3> &nbsp; </h3>
<p>For $75 monthly, we'll send you 2 to 4 items 
catered to your sizes and style. Our service helps you with great outfits one box at a time. </p>

<a href="/ambclassequestion" class="btn btn-lg btn-info2">Get Started</a>
        </div>
       
        </div>
    </div>
    
    </div>
    
   </div>
</div>

<!---how it works-->
<section class="work gapt40 gapb40" style="padding-top:90px;">
<div class="container">
<div class="col-sm-12 col-md-12 col-lg-12 text-center gapb40">
<h2> HOW IT WORKS? </h2>
<p style="font-size:18px"> Enroll in the Club by taking a short style quiz and receive an expertly curated package of exclusive clothing every month at discounted prices or shop the site for access to the latest collections.</p>
</div>  
<div class="col-sm-12 col-md-12 col-lg-12">
			
<div class="embed-responsive embed-responsive-4by3">

<figure class="overlay text-center">
<video autoplay loop class="embed-responsive-item"> 

<source src="images/ambclass3.mp4" type="video/mp4">  
</video>

<figcaption> 
THE AMB CLASSE CLUB  <br>
				<br>

<a href="/ambclassequestion" class="btn btn-lg btn-info">Get Started</a></figcaption></div>
</figure> 

</div>


<div class="col-sm-4 col-md-4 col-lg-4 text-center amb-service gapt40 gapb40">
<img src=" images/classe1.png" style="    width: 55%;">
<h5> <strong>T E L L &nbsp; U S &nbsp; Y O U R &nbsp; S T Y L E</strong></h5> 
<p>Take a short quiz and tell us about your style preferences and fit — 
we customize every package to you.  </p>
</div>

<div class="col-sm-4 col-md-4 col-lg-4 text-center   amb-service gapt40  gapb40">
<img src=" images/signup.png" style="width: 55%;">
<h5> <strong> J O I N &nbsp; T H E &nbsp; C L U B </strong></h5> 
<p>For a membership fee of $60 a month*, we will send you an individually
 curated package of up to 3 items from our seasonal collection. 
 All exclusive pieces are yours to keep. Members receive free shipping and size exchanges.  </p>
 <a href="/ambclassequestion" class="btn btn-lg btn-info3">Let's start</a>
</div>

<div class="col-sm-4 col-md-4 col-lg-4 text-center  amb-service  gapt40  gapb40">
<img src=" images/CLOTHING02.png " style="width: 55%;">
<h5> <strong> C A N C E L &nbsp; A N Y T I M E </strong></h5> 
<p>Nervous about committing or change your mind? Simply pause or cancel your membership anytime — contact us at 888.341.2381.**  </p>
</div></div>
<div class="text-center"><a href="/ambclassequestion" class="btn btn-lg btn-info3">Let's start</a></div> 

</section>


<section class="amb-membership">
<div class="container">
<div class="row text-center gapt50">
   <h2 class="text-center gapb50"> THE  PERKS OF MEMBERSHIP</h2>
			
			<div class="col-sm-4 col-md-4 col-lg-4  amb-service">
			<p  style="font-size:18px">S A V E &nbsp; U P &nbsp; T O &nbsp; 80% &nbsp; W H E N &nbsp; Y O U &nbsp; S H O P &nbsp; T H E &nbsp; S T O R E </p>
			<p>Receive special discounts on exclusive collections and merchandise.</p></div>

			<div class="col-sm-4 col-md-4 col-lg-4  amb-service">
			<p  style="font-size:18px"> F R E E &nbsp; S H I P P I N G  &  S I Z E &nbsp;<br> E X C H A N G E S*
			</p>
			<p> Plus, free returns on store purchases.
			</p>
			<h2> &nbsp; </h2>
			
			
</div>
<div class="col-sm-4 col-md-4 col-lg-4  amb-service">
<p  style="font-size:18px">E A R L Y &nbsp; A C C E S S &nbsp; TO &nbsp; <br> E X C L U S I V E &nbsp;  I T E M S</p>
<p>Get first dibs on designer collections and sales. </p>
</div>
 
</div>
<div class="text-center gapb50"><a href="/ambclassequestion" class="btn btn-lg btn-info2">Get Started</a></div>
</div>
</section>


<img src="images/amb-instagram.jpg" style="width:100%; background-repeat:no-repeat;">


<section class="amb-membership">
<div class="container gapt40 gapb40 text-center">
<ul class="amb-social">
<li> <a href=" "> <i class="fa fa-facebook fa-3x" aria-hidden="true"></i> </a></li> &nbsp; &nbsp;
<li> <a href=" "> <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
 </a> </li> &nbsp; &nbsp;
<li> <a href=" "> <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
 </a> </li> &nbsp; &nbsp;
<li> <a href=" "> <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
 </a> </li> </ul>

</div>

</section>			
			
			
			
			
			
			
			
	<!-- footer-section -->
	<% include ./footer.html %>  
	
	<!-- //footer-section -->

</body>
</html>