<!DOCTYPE HTML>

<html>
	<head>
		<title>contact</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>

			<!-- Main -->
			<div class="contact-us" style=" background-image: url(images/russ.jpg);background-repeat: no-repeat;background-size: cover;">
				<section id="main" class="container 75%">
					
					<div class="box" style="background:rgba(19, 18, 18, 0.81);">
						<form method="post" action="#">
							<div class="row uniform 50%">
							<header>
						<h2 style="color:#fff;     padding-left: 49px;">Contact Us</h2>
						<p style="color:#fff; padding-left:129px;">Tell us what you think about our little operation.</p>
					</header>
								<div class="6u 12u(mobilep)">
									<input type="text" name="name" id="name" value="" placeholder="Name" /   style="background: rgba(255, 255, 255, 0.31); color: #000;">
								</div>
								<div class="6u 12u(mobilep)">
									<input type="email" name="email" id="email" value="" placeholder="Email" /   style="background: rgba(255, 255, 255, 0.31); color: #000;">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<input type="text" name="subject" id="subject" value="" placeholder="Subject" /   style="background: rgba(255, 255, 255, 0.31); color: #000;">
								</div>
							</div>
							<div class="row uniform 50%">
								<div class="12u">
									<textarea name="message" id="message" placeholder="Enter your message" rows="6"  style="background: rgba(255, 255, 255, 0.31); color: #000;"></textarea>
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>

				
			<!-- Footer -->
				<footer id="footer" class="footer">
				<% include ./footer.html %>
				</footer>

				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>