
<!DOCTYPE html>
<html>
<head>
<title>Startup Tees </title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Startup shirt, t-shirt, startup Tees, clothing, amb classe, amb, classy,menswear, casual, formal" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working --> 
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
<% include ./header.html %>  

<!-- //navigation -->


		
			</div>

			</div>
		<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>  
            <h2>Custom T-Shirts</h1>
			<h4> create your own t-shirst in our design studios</h4> 
		  <h3>T-Shirts . Tanks . Hoodies</h3>
        </hgroup>
       <a href="http://ambclasse.com/contact"> <button class="btn btn-hero btn-lg" role="button">Start Designing Now</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2">
          <div class="overlay"></div>
      </div> 
      <div class="hero">        
        <hgroup>
             <h2>Find My T-Shirts</h1>
			<h4> Meet your new favourite tee..<br>
			Choose from 100s of styles</h4> 
		  <h3>T-Shirts . Tanks . Hoodies</h3>
        </hgroup>       
         <a href="http://ambclasse.com/contact"> <button class="btn btn-hero btn-lg" role="button">Find the perfect T-shirts</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3">
          <div class="overlay"></div>
      </div>
      <div class="hero">        
 <hgroup>
             <h2>Design your own </h1>
			<h4> "custom crop tops and tanks"<br>
			Shipped straight to your door</h4> 
		  <h3>T-Shirts . Tanks . Hoodies</h3>
        </hgroup>       
         <a href="http://ambclasse.com/contact"> <button class="btn btn-hero btn-lg" role="button">Start Design Now</button></a>
      </div>
    </div>
  </div> 
</div>
			
			<section>
			<div class="row">
			
				
			<div class="col-sm-4 col-md-4 col-lg-4 design">
			<p class="main-desc"> DESIGN </p>
			<img src="images/mona.png" style="width:90%;">
			<p class="para"> Upload your design or let us create a custom design for you</p>
			</div>
			
		
			
				
			<div class="col-sm-4 col-md-4 col-lg-4 design">
			<p class="main-desc"> PRINT </p>
			<img src="images/img02.png" style="width:90%;">
			<p class="para"> High quality printing of your t-shirts, hoodies, and other swag.</p>
			</div>
			
				
			<div class="col-sm-4 col-md-4 col-lg-4 design">
			<p class="main-desc"> SHIPPING </p>
			<img src="images/img03.png" style="width:71%;">
			<p class="para"> Use our API or web interface to ship swag to anywhere you need</p>
			</div>
			
			</div>
			</section>
			  
			
			<div class="container" style="margin:2em;">
			<div class="row">
			<p style="text-align:center; font-size:2.8em; color:#2d3e50;"> The Entrepreneur Uniform </p>
			<p style="margin:2em; text-align:center;">
			Startup themed tees so awesome that they are now the official uniform at several kickass startups. </p>
			<div class="col-sm-4">
			<img src="images/Data.png" style="width:100%;">
			</div>
			<div class="col-sm-4">
			
			<img src="images/CA.png" style="width:100%;">
			</div>
			<div class="col-sm-4">
			<img src="images/90.png" style="width:100%;">
			</div>
			
			
			
			
			<div class="col-sm-4  gapt50 gapb50">
			<img src="images/det.png" style="width:100%;">
			
			</div>
			<div class="col-sm-4  gapt50 gapb50">
			<img src="images/image-6.png" style="width:100%;">
			</div>
			<div class="col-sm-4  gapt50 gapb50">
			<img src="images/image-5.png" style="width:100%;">
			</div>
			</div>
			</div>
	
			
		
	
		<!-- footer-section -->
	<% include ./footer.html %>  
	
	
	
	<!-- //footer-section -->
<!----> 

</body>
</html>