<!DOCTYPE html>
<html>
<head>
<title> FAQ's | Amb Class</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Amb classe club, startup tees, new brand, wear your brand,amb, classy,discounts,clothes, Menswear, formal,casual" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<% include ./Header.html %>
	
	
	<div class="logo text-center">
				<h2 style="margin:20px;"><a href="index.html">Amb Classe by TQS</a></h2>
			</div>

<!-- Bootstrap FAQ - START -->

<!-- //news -->

<div class="container">
 <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" style="color: #000;">&times;</span><span class="sr-only" >Close</span></button>
        This section contains all of information, related to <strong>our brand</strong> and its store. If you cannot find an answer to your question, 
        Please contact us. Will happy to help you.
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">Ordering</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do Amb Classe offer gift wrapping?</a>
                </p>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    When placing your order, you can choose to have your items gift wrapped and to include an optional gift message. Your gift purchase will arrive in a signature brown box, tied with a ribbon and will include a gift card with the message you provided, in hand-writing. The invoice will be sealed in a separate envelope so that this information is not immediately disclosed with the recipient. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How do I make a purchase?</a>
                </p>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    You can shop by product category such as dresses, clothing, bags (using the links in the menu to find what you are looking for) or you can browse alphabetically by designer from the A TO Z OF DESIGNERS. Click on the product image to open up additional information about it. Then select your size and click on the 'ADD TO BASKET' button to pay for it. You can still continue browsing the online store or directly go to the basket in the top right hand corner to review and amend the contents of your basket or to complete your order. You will need to register your personal details with us before your order can be processed. Before confirming your order you will be asked to review and amend your order details on the BASKET menu.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can I place an order over the telephone?</a>
                </p>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Please call our Customer Care team +91 844-799-0819 or email ambclasse.enterprises@gmail.com for advice on how to place your order.
                </div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> How will I know if you have received my order?
</a>
                </p>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                   After you place your order, you will receive an email from us acknowledging that your order has been received. Please note that this is only to acknowledge that your order has been received and is not confirmation that your purchase has been made. Only after the item(s) are located, your credit card details have been approved, and the delivery address has been verified, will your order be accepted and the item(s) shipped. Should any of the item(s) you have ordered be unavailable you will be quickly informed of the out-of-stock piece(s) and your payment for the item(s) will not be processed.
                </div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can you provide me with a VAT receipt?
</a>
                </p>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                   Yes. Please contact us via email on ambclasse.enterprises@gmail.comto request a VAT receipt for your order.
                </div>
            </div>
        </div>

        <div class="faqHeader">Return & Exchange</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I receive a refund and will I be refunded for the full value of my order?</a>
                </p>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    You can exchange time whenever you want . Before you return something you must notify us within 48 hours of receiving an item and obtain a RAN (Return Authorization Reference number). Sale items must be returned within seven days and different terms apply to jewellery and lingerie. The product you return must be in new, unused, and unworn condition with all the original packaging and garment tags still attached. In addition all items must be returned with our special Browns tags. To view our full Terms and Conditions on returning items, please visit the terms and conditions page.</strong>.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can I Return Gift Certificates?</a>
                </p>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Gift certificates are valid for 2 months onwards from date of purchase and cannot be refunded. The total value can also be redeemed in parts on various orders.
                </div>
            </div>
        </div>
       
       
      
        <div class="faqHeader"> General Questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How do I know if the item will fit me?
</a>
                </p>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   There is a size guide with every item and in addition when an item runs small or large to size, this will be identified within the product description. All products are sold by the international sizing scheme used by the designer. To convert this to your usual size, simply click on the 'VIEW OUR SIZE GUIDE ' link which you will find on every product page, in the Size Guide Tab.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What happens if I notice that my personal details are incorrect after I have completed the ordering process?</a>
                </p>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                   If you realise your personal details are incorrect once you have completed the ordering process please email our customer service team at ambclasse.enterprises@gmail.com, ensuring you include your order number. We can not guarantee that we will be able to rectify the issue, however, we can assure you that we will do all we can to amend your order.
                </div>
            </div>
        </div>
    </div>
</div>


</div>
	
		<!-- footer-section -->
	<% include ./Footer.html %>
	
	
	<!-- //footer-section -->
</body>
</html>