 
				<div class="container" >


               <ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li><a href="#" ><span class="label" style="font-size:100%; font-weight:0;">Home</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:100%; font-weight:0;">About Us</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:100%; font-weight:0;">Contact us</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:100%; font-weight:0;">Blog</span></a></li>
					</ul>  
					