<div class="footer-bottom">
				<div class="container">
					<div class="form text-center">
			            <form action="" method="post">
			               <input class="email2" name="email" placeholder="Your Email Address" type="text" style="width:383px;     background:rgba(252, 252, 252, 0.13)">
			               <input name="uri" type="hidden" value="tumblr/zFuC">
			               <input name="loc" type="hidden" value="en_US">
			               <input class="btn2" type="submit" value="Subscribe">
			            </form>
	         		</div>
					<div class="clearfix"></div>
				</div>
			</div>
<div class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="col-md-4 footer-grid">
						<h5>About Us</h5>
						<p>Amb Classe is the leading manufacturer of readymade and 
				stylish fashionwear brand. An extended number of exclusive stores which is version with its approach every single day to desired wants.
			 	Its our effort to convince our customers with ultimate consumer. With your presence we are highly obliged.</p>
			  		</div>
					<div class="col-md-1 footer-grid">
					&nbsp;
					</div>
					<div class="col-md-3 footer-grid">
						<h5>Questions?</h5>
						<ul style="list-style:none;">
							<li><a target="_blank" href="http://blog.ambclasse.com" style="color: #9C9C9C;">Blog</a></li>

							<!-- <li><a target="blank" href="http://blogs.ambclasse.com" style="color: #9C9C9C;">Blogs</a></li> -->
							<li><a  href="/TermsAndConditions" style="color: #9C9C9C;">Terms And Conditions</a></li>
							<li><a  href="/Privacy" style="color: #9C9C9C;">Privacy Policy</a></li>
							<li><a  href="/Returns" style="color: #9C9C9C;">Returns</a></li>
							<li><a  href="/affiliates" style="color: #9C9C9C;">Affiliates</a></li>
							<li><a  href="/Sitemap" style="color: #9C9C9C;">Sitemap</a></li>
							<li ><a  href="/FAQ" style="color: #9C9C9C;">Faq's </a></li>
						</ul>
					</div>

					<div class="col-md-4 footer-grid">
						<h5>Follow Us</h5>
						<p>Follow us on Social Media for more content & behind the scenes from the Amb Classe team!<br> Use <b><font color="#3588D4">#Amb Classe.me</font></b> to share your own Fashion Show content.</p>
								
						<div class="social-icons footer-social-icons">
							<a href="#"><i class="facebook"></i></a>
							<a href="#"><i class="twitter"></i></a>
							<a href="#"><i class="google-plus"></i></a>
							<p>Mail Us:<a href="mailto:ambclasse.enterprise@gmail.com">ambclasse.enterprise@gmail.com</a></p>
						</div>
					</div>
				<div class="clearfix"></div>
				</div>
			</div>

		</div> 