<div class="container" >
				<div class="row">
				<div class="col-xs-12 col-sm-3">
                    <h3> LegalMan.in <span>®</span>
                    </h3>
                    <ul>
                        <li> <a href="#">Events</a></li>
                        <li>
                            <a href="#">Registration</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Ask Our CA</a>
                        </li>
                        <li>
                            <a href="#">Knowledge Portal</a>
                        </li>
                        <li>
                            <a href="#">gigfgfggf</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                    </ul>
                </div>
				<div class="col-xs-12 col-sm-6 text-center footer-middle-column">
                    <ul class="circles">
                    <li>
						<a href="https://www.facebook.com/leagalman.in" target="_blank">
                        <span class="fa fa-facebook"></span> </a>
                    </li>
                           
                    <li>
                        <a href="https://twitter.com/leagalman.in" target="_blank">
                        <span class="fa fa-twitter"></span>
                        </a>
                    </li>
					<li>
                       <a href="https://twitter.com/leagalman.in" target="_blank">
                        <span class="fa fa-instagram"></span>
                        </a>
                    </li>
					<li>
                        <a href="http://google-plus.com/leagalman.in" target="_blank">
                        <span class="fa fa-google-plus"></span>
						</a>
                    </li>
                    </ul>
                    <div class="support">
                        <ul>
                            
                            <li>
                                <a href="https://www.legalman.in/forums/">Documentation</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/api/">Data API</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/terms/">Terms of Use</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/privacy/">Privacy Policy</a>
                            </li>
                            
                        </ul>   
                    </div>
                </div>
			<div class="col-xs-12 col-sm-3 footer-last-column">
            <h3> Contact</h3>
                    <ul>
                        <li>9953147642</li>
                        <li>
                            <a href="mailto:Help@freakoutZ.com">mona.malik812@gmail.com</a>
                        </li>
                        <li class="break"><br></li>
                        <li>LegalMan.in</li>
                        <li>a-23,hauz khas</li>
                        <li>New Delhi, CA 94104</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-download">
                <span>&copy;  All rights reserved|</span> <a target="_blank" href="#"> LegalMan.in</a> &nbsp; Design: <a target="_blank" href="#">Mona Malik</a><br>
                
				
		</div>
        </div>