<h1><a href="/">LEGAL MAN  </a></h1>
					<nav id="nav">
						<ul>
							
							<li><a href="/">Home</a></li>
					
 

								<li>
								<a href="#" class="icon fa-angle-down">Services</a>

								<ul>
									<li><a href="#">New Business Registration</a><ul>
                                  <li><a href="/proprietorship"> Proprietorship</a></li>
										
											<li><a href="/partnership"> Partnership</a></li>
											<li><a href="/opc">One Person Company </a></li>
										
										<li><a href="/llp">Limited Liability Partnership</a></li>
										<li><a href="/plc">Private Limited Company</a></li>
										</ul>
											</li>
									<li><a href ="#">Business License</a><ul>
									<li><a href="/ie-code">Import Export Business Code</a></li>
								<li><a href="/fssai">FSSAI</a></li>
									</ul>
						</li>
						<li>
					 <a href="#">Type Of Registration</a>
				     <ul>
						<li>
					    <a href="/shop"> Shop & Establishment Act</a></li>
										
						<li>
						<a href="/str">Service Tax </a></li>
										
						<li>
      					<a href="/vat">VAT-TIN </a></li>
						<li>
						<a href="/esi">  Employee State Insurance Act</a></li>
						<li>
						<a href="/pan">PAN </a></li>
						<li>
						<a href="/msme">MSME </a></li>					
												
						</ul>
						</li>

						</ul>
						</li>					
						<li>
						<li><a href="/ask">Ask Our CA</a></li>
						
								<li><a href="/contact">Contact Us </a></li>
								<!-- <li><a href="/payment"><i class="fa fa-shopping-cart fa-lg"></i></a></li> -->
							</ul>
						</nav>