<!DOCTYPE html>
<html>
	<head>
		<title>Amb Classe</title>
		<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
		<link href="ambclasse_css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="ambclasse_css/owl.carousel.css" rel="stylesheet">

		<script src="js/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>

		<link href="ambclasse_css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="ambclasse_css/lightbox.css" type="text/css" media="all" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="amb classe, classy shirt, tshirt,mens clothing, membership, discounted shirt, anytime exchange, reasonable shirt, brand " />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/bootstrap.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<!-- responsiveslides -->
			<script src="js/responsiveslides.min.js"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
				    // Slideshow 4
					$("#slider4").responsiveSlides({
					auto: true,
					pager: true,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						$('.events').append("<li>after event fired.</li>");
						}
						});
						});
			</script>
		<!-- responsiveslides -->
		 <script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
					});
				});
			</script>
	</head>
	<body>
		<% include ./header.html %>
		<section>
			<div class="top-main text-center">
			<p style="padding:0px;"> Give us a missed call at +91.844.799.0819 for assistance./ visit our store </p>
			</div>
			</section>
			<div class="container-fluid">
			
   <div class="row">
	<img src="images/now.jpg" class="img-responsive">
   </div>
</div>	
	  <!--keypoints-->

<section class="ambkeys">
<div class="gapb40 gapt40" >
<div class="container">
<h2 class="text-center"> What Sets Us Apart </h2>
<div class="row gapt40 gapb40">
<div class="col-sm-4 col-md-4 col-lg-4 text-center"> 
<img src="images/icon1.jpg">
<h3> Exchange your old clothes with new ones</h3>
<p> Wear your clothes for as long and exchange them with us for unbelievable discounts on your next purchase. Clothing from any brand is open for exhcange with us. </p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4  text-center">
<img src="images/icon2.jpg">
<h3>Designs and co-crested by young designers</h3>
<p>yes, you heard right! The clothes designed by the young and talented designer from all over the india according to your comfort and fit.</p> </div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center"> 
<img src="images/icon3.jpg">
<h3> Come to your near Guideshop </h3>
<p> &nbsp; </p>
<p>We invented the retail store. It's completely personalized, and it's called a Guideshop.our expert will help you to choose the best fits and its all free.</p>
</div>

</div>  
</div>

</div>

</section>

<section>
<div class="container-fluid"
<div class="row">


<div class="col-sm-6 col-md-6 col-lg-6"> 
<img src="images/allstarted.jpg" class="img-responsive">
</div>

<div class="col-sm-6 col-md-6 col-lg-6 welcome" style="padding:60px; text-align:justify;">
 <h2 style="padding-bottom:20px; text-align:center;">Welcome to Amb Classe </h2>
				<p>
				Amb Classe is the leading manufacturer of readymade and 
				stylish fashionwear brand. A wide spreading network of retail stores putting on global standards in men's wear. The product highlights are formals, casuals, shirts, t-shirts, trousers, denims, jackets and even woolens followed by many others you require. An extended number of exclusive stores which is version with its approach every single day to desired wants. We offer you a product which is highly upto your expectations and of course with affordable and quality materials. 
				You will get a variety with unusual content. Its our effort to convince our customers with ultimate consumer. With your presence we are highly obliged. Lifestyle clothing 
				that each of you can comfortably buy and show off, amb classe is expanding at 
				a rate unsurpassed by any other in the category.
				</p> 
				<h3> &nbsp; </h3>
<p class="text-center"><button type="button" class="btn btn-danger2 btn-lg"> <a href="http://ambclasse.com/custom_tshirts" style="color:#fff;">Shop Now</a></button></p>
 </div>
 </div>
</div>
</section>

<section>
<div class="container-fluid"> 
<div class="row">

<div class="col-sm-6 col-md-6 col-lg-6 welcome" style="padding:120px; text-align:justify;">
 <h2 style="padding-bottom:20px; text-align:center;">A Better Experience</h2>
				<p>
				Like most guys, we're not big fans of shopping. That's why we set out to build the best online shopping experience in the world, and we made it the core of what we do. We're now the finest clothing brand ever built on the web in the INDIA.
				</p> 
				<h3> &nbsp; </h3>
<p class="text-center"><button type="button" class="btn btn-danger2 btn-lg"> <a href="http://ambclasse.com/club" style="color:#fff;">Shop Now</a></button></p>
 </div> 
  

<div class="col-sm-6 col-md-6 col-lg-6">   
<img src="images/ambbetter.jpg" class="img-responsive">
</div>

  </div>
 </div>

</section>
<!--keypoints-->

<section class="ambkeys">
<div class="gapb40 gapt40" >
<div class="container">
<h2 class="text-center">How does it work?</h2>
<div class="row gapt40  gapb40">
<div class="col-sm-4 col-md-4 col-lg-4 text-center"> 

<img src="images/icon4.jpg">
<h3>Make an Appointment</h3>  
<p> &nbsp; </p>
<p>Schedule a one-hour appointment at one of our guideshops. Try on anything you like and have a cold one from the fridge.</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4  text-center">
<img src="images/icon5.jpg">
<h3>Personalized Fit & Styling</h3>
<p> &nbsp; </p>
<p>A knowledgeable Guide will walk you through the entire AMB CLASSE line and help you find your perfect fit.</p> </div>
<div class="col-sm-4 col-md-4 col-lg-4 text-center"> 
<img src="images/icon6.jpg">
<h3>No Baggage </h3>
<p> &nbsp; </p>
<p>A Guide will place your order and it will be shipped directly to your home or office. Walk out with your hands free.</p>
</div>

</div>  
</div>

</div>
</section>
	
	<!--<div class="screen-shots">  
		<div class="sreen-gallery-cursual">
		       <div id="owl-demo" class="owl-carousel">
	                <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c5.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Get Ready for this season with classy formals </p>
									<h5 class="s-heading"> </h5>
								</div>
	                		</div>
	                	</div>
	                </div>
	                <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/ambclasse5.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Explore vibrant and summery casuals</p>
									<h5 class="s-heading"> </h5>
								</div>
                               </div>
	                		</div>
	                </div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/ambclasse4.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Smart Tees for everyday life</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	               <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c4.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Must Have shirts for semi – formal office days </p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c1.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Comfy and Cool Jackets to go with both formals and casuals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c2.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">A modern take on metro Man’s fashion taste</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	               <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/ambclasse3.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Get Ready for this season with classy formals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c4.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Explore vibrant and summery casuals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	            </div>
            </div>
		</div>-->

		<script src="js/lightbox.js"></script>
	  	  <!--   <script src="js/owl.carousel.js"></script>
 <script>
		    $(document).ready(function() {
		      $("#owl-demo").owlCarousel({
		        items :4,
		        lazyLoad : true,
		        autoPlay : true,
		        navigation : false,
		        navigationText :  false,
		        pagination : true,
		      });
		    });
	    </script>-->
	
 		<div class="parallax parallax2">
            <div class="parallax-pattern"></div>
            <div class="container">  
				<div class="col-sm-12 col-md-12 col-lg-12 text-center gapt30">
					<h1 style="font-size: 2.5em;">  We also serve through wide range of stores across Delhi .</h1>
					<p style="font-size:1.5em; color:#fff;">
					Additionally, we offer clothing merchandize across Delhi through our stores. Feel free to step in and explore for an enhanced retail experience. From personal shoppers to corporate visitors, we are here to help you find the best. 
					</p>
					<p class="gapb40"><button type="button" class="btn btn-danger btn-lg"> <a href="/contact" style="color:#fff;">Explore</a></button></p>
				</div>
			</div>
		</div>
		

<div class="container"  style="padding-top:54px; padding-bottom:54px;">
		<h1 class="text-center"> Our Services </h1>
		<div class="row" style="padding-top:54px;">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
       <a class="mask"><img src="images/slider-1.jpg" class="img-responsive zoom-img" alt="" /></a>
	   </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>  Customer First Approach</h3>
<p style="line-height: 26px;">   We at Amb Classe strive towards providing customers with Quality and Comfort at affordable prices. </p>
<p>        <!--<button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
        <a class="mask" href="#"><img src="images/slider-7.jpg" class="img-responsive zoom-img" alt="" /></a>
					
		</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3> Exchange at incredible discounts</h3>
<p style="line-height: 26px;">  Wear your clothes for as long  and exchange them with us for unbelievable discounts on your next purchase. Clothing from any brand is open for exhcange with us. </p>
<p>        <!--<button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Seamless Shopping Experience and customer service</h3>
<p style="line-height: 26px;">We put our customers first and work round the clock for a great shopping experience and after sales service in our stores.</p>
<p>      <!--  <button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
        <a class="mask" ><img src="images/ambclasse5.jpg" class="img-responsive zoom-img" alt="" /></a>
			
		</div>
<p></p></div>
<p></p></div>
<p></p></div>  
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">  
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Try clothes online yourself, virtually </h3>
<p style="line-height: 26px;">Try on clothes virtually, thanks to our innovative online “Try-On” feature.  </p>
<p>       <!-- <button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
<a class="mask"><img src="images/slider-4.jpg" class="img-responsive zoom-img" alt="" /></a>       
	   </div>
<p></p></div>
<p></p></div>  
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">  
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
      <a class="mask" href="single.html"><img src="images/slider-6.jpg" class="img-responsive zoom-img" alt="" /></a>
			
	  </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Collections for any mood! </h3>
<p style="line-height: 26px;">Any occasion, season or mood, we will have always something for you. </p>
<p>      
        </p></div>
<p></p></div>
<p></p></div>  
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
       	<a class="mask" ><img src="images/slider-5.jpg" class="img-responsive zoom-img" alt="" /></a>
	   </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3> Custom cuts and style 
</h3>
<p style="line-height: 26px;">We have aligned with several young designers to deliver custom fits for any build and height.  </p>
<p>      
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<p></p></div>

</div>  
		
		
		<div class="second-slider">
			<div class="container">
			<h3 class="tes text-center">Testimonials</h3>
				<div  id="top" class="callbacks_container">
							<ul class="rslides" id="slider4">
								<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes1.jpg" alt="" />
										<h4 style="background-color:none;">Alissa Turner</h4>
										<p>
										“I happened to try out Amb Classe for the first time in a store in Delhi, and have been using their stuff
ever since. Comfort, fit and durability of fabric at affordable price makes it completely worth it”</p>
									</div>
								</li>  
								<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes2.jpg" alt="" />
										<h4 style="background-color:none;">Ronnie Toh</h4>
										<p> “ I interacted with team Amb classe for a bulk order of custom tees a couple of months ago. I was
pleasantly surprised at the quality of fabric and apparel fit. The orders were serviced professionally.
Overall a very good experience.”</p>
									</div>
								</li>
	  							<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes3.jpg" alt="" />
										<h4 style="background-color:none;">Singem Middile</h4>
										<p>“Finding newer prints and cuts for male clothing is tough. Very impressed with the collection that Amb
Classe offers. Soothing colours with different prints and style. Spoke to a store representative who told
me that their entire collection has been designed by young designers”</p>
									</div>
								</li>
							</ul>
				</div>
			</div>
		</div>

		<% include ./footer.html %>
</body>
</html>