<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>LegalMan</title>
		<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
         <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				
		<!-- Meta Description -->
        <meta name="description" content="mona malik">
        <meta name="keywords" content="" content="">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
							</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">LEGAL </a> MAN</h1>
					<nav id="nav">
						<ul>
							
							<li><a href="index.html">Home</a></li>
					
 

								<li>
								<a href="#" class="icon fa-angle-down">Services</a>

								<ul>
									<li><a href="#">New Business Registration</a><ul>
                                  <li><a href="#"> Proprietorship</a></li>
										
											<li><a href="partnership.html"> Partnership</a></li>
											<li><a href="#">One Person Company </a></li>
										
										<li><a href="#">Limited Liability Partnership</a></li>
										<li><a href="#">Private Limited Company</a></li>
										
											<li><a href="#">Public Limited Company</a></li>


											</ul>
											</li>



						         <li><a href ="#">Business License</a><ul>
									<li><a href="#">Import Export Business Code
								</a></li>
									</ul>
						</li>
						<li>
					 <a href="#">Type Of Registration</a>
				     <ul>
						<li>
					    <a href="#"> Shop & Establishment Act</a></li>
										
						<li>
						<a href="#"> Employee Provident Fund</a></li>
						<li>
						<a href="#">Service Tax </a></li>
										
						<li>
      					<a href="#">VAT-TIN </a></li>
						<li>
						<a href="#">  Employee State Insurance Act</a></li>
						<li>
						<a href="#">TAN </a></li>
						<li>
						<a href="#">MSME </a></li>					
												
						</ul>
						</li>

						</ul>
						</li>					
						<li>
						<li><a href="#ask">Ask Our CA</a></li>
						<li><a href="elements.html">Knowledge Portal</a></li>
								<li><a href="contact.html">Contact Us </a></li>
							</ul>
						</nav>
					</header>
			
			
		 

									
									




			<!-- Banner -->
				<section id="banner">
					<h2>LEGALMAN</h2>
					<h3>Starting A Business Made Simple</h3>

					<p><i>We strive to provide most TRUSTWORTHY & AFFORDABLE services for all SMALL & MEDIUM size business.</i></p>
					<ul class="actions">
						<li><a href="#" class="button special">Sign in</a></li>
						<li><a href="#about" class="button">About Us</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate mobile app
							<br />
				 			for doing stuff with your phone</h2>
							
							<div id="about">
							<p><b>Legalman simplifies common legal matters for 
							start-ups and growing companies by providing a wide range<br> of services 
							online and at an affordable cost through tie-ups with agents and consultants nationwide. 
							We specialise in<br> providing IEC code all across India, including top metros such as Mumbai, 
							Bangalore, Chennai, Hyderabad, Kolkata, Pune, Ahmedabad, Kochi and Delhi.</b></p>
						</div>
						
						</header>
						<hr/>
						
						
						<h2>SERVICES</h2>
					  <h4>What we Provide</h4>
					  <br>
						<div class="row">
						<div class="col-sm-4 ">
								<span class="icon major fa-bolt accent2"></span>
								<h4>Registration for New & Existing Business</h4>
								<button class="btn btn-default btn-lg">Let's Start</button>
						</div>	
						<div class="col-sm-4">
							<span class="icon major fa-area-chart accent3"></span>
								<h4>Free Advice From Chattered Accountant</h4>
								 <button class="btn btn-default btn-lg">Ask Now</button>
						</div>
								
						<div class="col-sm-4">
							<span class="icon major fa-cloud accent4"></span>
								<h4>Legal Documents</h4>
								<div> &nbsp </div>
								<button class="btn btn-default btn-lg">Get Started</button>
							</div>	
							
							</div>
						
					   
						</section>
						
					



 
									
					
				 
								<!--service-->
									
								
					<section class="box special features">
					 <div id="ask">
						
						

						<h3>LEGAL ADVICE IN A MINUTE</h3>
							<h4>Ask A Chattered Accountant</h4>
							<br>
						
						<form method="post" action="#">
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
											
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="email" name="email" id="email" value="" placeholder="Email" />
											</div>
										</div>
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<input type="text" name="contact" id="contact" value="" placeholder="Phone No" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="text" name="company" id="company" value="" placeholder="Company Name" />
											</div>
										</div>
										
										<div class="row uniform 50%">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<div class="row uniform">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" value="Send Message" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
											</div>
										</div>
									</form>

									<!--<span class="image featured"><img src="images/hh.jpg" alt="" /></span>-->
									</div>
					
					</section>
						
						
							
								
							
							<!--registring --> 
							
				  <section id="registring">
				  <div class="container-fluid">
				  <h2> Registring your Business</h2>
						<div class="row">  
						
					<div class="col-sm-8">
					  
					  <p>FILLING YOUR COMPANY<br>
					  
					  WE check your business name and file and your paperwork.our specialist can walk you through the entire process.</p>
					  <p>STAY AT LEGITAMATE COMPANY<br>
					  We offers a Registered Agent service so dont miss important legal notices or tax date. <br>
					  Also,get all the corporate compliance documents you needs.</p>
					  <p>WE SUPPORT START-UPS 24*7<br>
					  We believe in promoting entreprenurships by making sure you concentrate soley on your <br> business
					  and we provide all the neccessary ingedients to start and run your business<br>
					  ventures in the best possible manner.</p>
					  </div>
					  <div class="col-sm-4">
      <img src="images/hh.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
	  </div>
    </div>
					  
					  <div class="row">
					  <div class="col-sm-4">
					   <div class="select-wrapper">
													<select name="category" id="category">
														<option value="">- SELECT YOUR STATE-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select>
												</div>
				
												</div>
					  
													<div class="col-sm-4">
													<div class="select-wrapper">
													<select name="category" id="category">
														<option value="">- SERVICES-</option>
														<option value="1">New Business Registration</option>
														<option value="1">Proprietorship</option>
														<option value="1">Partnership</option>
														<option value="1">One Person Company</option>
														<option value="1">Limited Liability Partnership</option>
														<option value="1">Private Limited Company</option>
														<option value="1">Public Limited Company</option>
														
													</select>
												</div>
					  
					  
					 
					  
					  
                      </div>
					<div class="col-sm-4">
					<button class="btn btn-default btn-lg">Get in Touch</button></div>
					</div>
    
				 </div>
				</section>
				
				<!---------------------legal document-------------------------------->
					  <section id="legal">
				  <div class="container-fluid">
				  <h2> Do It Yourself Legal Documents You Can Trust</h2>
						<p>we provide numerous legal documents prepared by expert lawyer of the country</p>
						<div class="row">  
						
					<div class="col-sm-4">
					  &nbsp
					  &nbsp
					  &nbsp
					  <p>
					  Documents prepared by reputed Lawyers and Chattered accounts to be used by Entreprenures
					  to quickly get started with their important operations.</p>
					  
					  
					  </div>
					  <div class="col-sm-4">
					<img src="images/a.jpg"  alt="Random Name" width="255" height="255">
				</div>
				<div class="col-sm-4">
				&nbsp
				&nbsp
				&nbsp
				<p>
				Documents can be downloaded in PDF and Word format. you can revise the documents and get it verified
				by our in-house lawyers.</p><br>
				&nbsp &nbsp &nbsp
				&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				<button class="btn btn-default btn-lg">Get in Touch</button></div>
				</div>
				</div>
				</div>
					  
					  
				</section>
				</section>
				
				<!----------------------------ask our ca------------------------->	
					
					<div class="container">
					<!--<h2 text-align="center"> We Are Always Here To Help</h2>-->
					<div class="row">
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg"  alt="Random Name" width="255" height="255" /></span>
								<h3>NAME</h3>
								<p> Certified CA</p>
								
							</section>

						</div>
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="Random Name" width="255" height="255" /></span>
								<h3>NAME</h3>
								<p> Certified CA</p>
							</section>

						</div>
						
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg"  alt="Random Name" width="255" height="255"/></span>
								<h3>NAME</h3>
								<p> Certified CA</p>
							</section>

						</div>
						
					</div>

				</section></div>

				<!--Ask our CA
<div id="our expert" class="container text-center">
  <h3>OUR EXPERT TEAM</h3>
  <p><em>We love TO HELP YOU</em></p>
  <br>
  
  
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="images/pic02.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>OUR EXPERTS</p>
        <p>Member since 1988</p>
      </div>
    </div>
	
    <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="images/pic02.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>OUR EXPERTS</p>
        <p>Member since 1988</p>
      </div>
    </div>
	
	
    <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="images/pic02.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>OUR EXPERTS</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>		-->
			<!-- subscribe -->
				<section id="cta">

					<h2> Subscribe</h2>
					<p>To know more  about our services. keep in touch with us </p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>
				
		
				

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<!--<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>-->
						<!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy;  All rights reserved. |</li>
						<li>Design: <a href="http://'www.legalman.com">Mona Malik</a></li>
					</ul>
				</footer>

		</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>