<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>LegalMan</title>
		<% include ./links.html %>
							</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
						<% include ./header.html %>
				</header>
			<!-- Banner -->
				<section id="banner">
					<h3>LEGAL MAN</h3>
					<h4>Starting A Business Made Simple</h4>

					<p>We strive to provide most Trustworthy And Affordable services for all Small and Medium size business.</p>
					<ul class="actions">
						
						<li><a href="#our-service" class="button" style="background: rgba(169, 169, 169, 0.02);">SERVICES</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<!--<h2>Introducing the ultimate mobile app
							<br />
				 			for doing stuff with your phone</h2>-->
							
							<div id="about">
							<p><b>Legalman simplifies common legal matters for 
							start-ups and growing companies by providing a wide range<br> of services 
							online and at an affordable cost through tie-ups with agents and consultants nationwide. 
							We specialise in<br> providing IEC code all across India, including top metros such as Mumbai, 
							Bangalore, Chennai, Hyderabad, Kolkata, Pune, Ahmedabad, Kochi and Delhi.</b></p>
						</div>
						
						</header>
						<hr/>
						
						<div id="our-service">
						<h2> OUR SERVICES</h2>
					  <br>
						<div class="row">
						<div class="col-sm-4 ">
								<span class="icon major fa-bolt accent2"></span>
								<h4>Registration for New & Existing Business</h4>
								<button class="btn btn-default btn-lg">Let's Start</button>
						</div>	
						<div class="col-sm-4">
							<span class="icon major fa-area-chart accent3"></span>
								<h4>Free Advice From Chattered Accountant</h4>
								 <button class="btn btn-default btn-lg">Ask Now</button>
						</div>
								
						<div class="col-sm-4">
							<span class="icon major fa-cloud accent4"></span>
								<h4>Legal Documents</h4>
								<div> &nbsp </div>
								<button class="btn btn-default btn-lg">Get Started</button>
							</div>	
							
							</div>
							</div>
						
					   
						</section>
						
						<!--registring --> 
							
				  <section id="registring">
				  <div class="container-fluid">
				  <h2> Registering your Business</h2>
						<div class="row">  
						
					<div class="col-sm-8">
					  
					  <p><b>FILLING YOUR COMPANY</b><br>
					  
					  WE check your business name and file and your paperwork.our specialist can walk you through the entire process.</p>
					  <p><b>STAY AT LEGITAMATE COMPANY</b><br>
					  We offers a Registered Agent service so dont miss important legal notices or tax date.
					  Also,get all the corporate compliance documents you needs.</p>
					  <p><b>WE SUPPORT START-UPS 24*7</b><br>
					  We believe in promoting entreprenurships by making sure you concentrate soley on your business
					  and we provide all the neccessary ingedients to start and run your business
					  ventures in the best possible manner.</p>
					  </div>
					  <div class="col-sm-4">
						  <img src="images/hh.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
						  </div>
						</div>
					  
					  <div class="row">
					  <div class="col-sm-4">
					   <div class="select-wrapper">
													<select name="category" id="category">
														<option value="">- SELECT YOUR STATE-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select>
												</div>
				
												</div>
					  
													<div class="col-sm-4">
													<div class="select-wrapper">
													<select name="category" id="category">
														<option value="">- SERVICES-</option>
														
														<option value="1">Proprietorship</option>
														<option value="1">Partnership</option>
														<option value="1">One Person Company</option>
														<option value="1">Limited Liability Partnership</option>
														<option value="1">Private Limited Company</option>
														<option value="1">Public Limited Company</option>
														
													</select>
												</div>
												  </div>
												<div class="col-sm-4">
												<button class="btn btn-default btn-lg">Get in Touch</button></div>
												</div>
								
											 </div>
											</section>
											
											
											</section>


					<div class="container">
					<h2 text-align="center"> We Are Always Here To Help</h2>
					<div class="row">
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/tes1.jpg"  alt="Random Name" width="255" height="255" /></span>
								<h3 style="margin:none;">NAME</h3>
								<p> Certified CA</p>
							</section>
							</div>
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/tes2.jpg" alt="Random Name" width="255" height="255" /></span>
								<h3 style="margin:none;">NAME</h3>
								<p> Certified CA</p>
							</section>
							</div>
						
						<div class="4u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/tes3.jpg"  alt="Random Name" width="255" height="255"/></span>
								<h3 style="margin:none;">NAME</h3>
								<p> Certified CA</p>
							</section>

						</div>
						
					</div>

						<!--service-->
									
								
					<section class="box special features">
					
					  <section id="legal">
				  <div class="container-fluid">
				  <h2> Do It Yourself Legal Documents You Can Trust</h2>
						
						<div class="row">  
						
					<div class="col-sm-4">
					  &nbsp
					  &nbsp
					  &nbsp
					  <p>
					  Documents prepared by reputed Lawyers and Chattered accounts to be used by Entreprenures
					  to quickly get started with their important operations.</p>
					  
					  
					  </div>
					  <div class="col-sm-4">
					<img src="images/sig.jpg"  alt="Random Name" width="255" height="255">
				</div>
				<div class="col-sm-4">
				&nbsp
				&nbsp
				&nbsp
				<p>
				Documents can be downloaded in PDF and Word format. you can revise the documents and get it verified
				by our in-house lawyers.</p><br>
				&nbsp &nbsp &nbsp
				&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				<button class="btn btn-default btn-lg">Get in Touch</button></div>
				</div>
				</div>
				</div>
					  
					  
				</section>
					
					</section>
						
				<!----------------------------ask our ca------------------------->	
					
					
				</section>

			<!-- subscribe -->
				<section id="cta">

					<h2> Subscribe</h2>
					<p>To know more  about our services. keep in touch with us </p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>
				
		
				

			<!---footer------>
				
				<footer id="footer" class="footer">
				 <% include ./footer.html %>
				</footer>

		</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>