<!DOCTYPE HTML>

<html>
	<head>
		<title>IE Code</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/book.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Apply for Import-Export Code</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
									&nbsp;
								</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						<p style="color:#fff; font-size:16px;margin:0px;font-style:bold;">Get IE Code only at Rs 8,000 &#8377;</p>
						
												<input type="text" name="name" id="name" value="" required placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" required placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value=""required placeholder="Phone No" /><br>
											    											     <input type="hidden" name="price" id="price" value="8000" /><br>

													<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">Importer-Exporter Code</h3>
				<p style="text-align:justify;">
					LEGALMAN
Apply for Import-Export Code
NAME
Lets Start
Get IE Code only at Rs 6,000
EMAIL ADDRESS
PHONE
CITY
Import Export (IE) Code is a registration required for persons importing or exporting goods and services from India. IE Code is issued by the Directorate General of Foreign Trade (DGFT), Ministry of Commerce and Industries, Government of India. IE Codes when issued can be used by the entity throughout its existence and doesn't require any renewal or filing. Therefore, it is recommended for most organizations to obtain IE Code, irrespective of if they need it at the moment.  
  
IE Code application must be made to the Directorate General of Foreign Trade along with the necessary supporting documents. Once, the application is submitted, DGFT will issue the IE Code for the entity in 15 - 20 working days or less.
					
					</p>
				</div>
				</div>
				</div>
				
				<!------------------------------------------imp thing---------------->
			<section style="background-color:#fff;">
			<div class="container">
			<h3 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			<ul>
			<li style="text-align:justify; list-style:none;background-color: #d1cfc6;"><i class="fa fa-play "></i><b>&nbsp; NATIONAL VALIDITY </b> 
			 The IEC, once issued, is valid throughout the county, in all your branches or factories. It needs to be quoted while your goods go through customs and while sending money abroad or receiving money from abroad.
			</li>
			 <br/>
			
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play"></i> <b>&nbsp;NO FILINGS APPLY</b>
The IEC is just a code. Once you have it, you can begin importing and exporting. You don't need to file the transactions done under this code or pay any taxes.
			</li><br/>
			
			</div>
			</div>
			<div>
			</section>
			
				
				
				
				
							
						<section style="background-color:#fff;">				<!---why or not---------------------------------------------------->
						<div class="container" >
						<div class="table-wrapper">
										<table class="alt" style="padding-top:40px;">
											<thead>
												<tr>
												<th style="background-color:#9C938F;"> </th>
													<th style="background-color:#9C938F;">Service-Tax Registration</th>
													<th style="background-color:#9C938F;">VAT Registration</th>
													<th style="background-color:#9C938F;">Importer Exporter Code</th>
													<th style="background-color:#9C938F;">Shop-Establishment Act</th>
											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Who it's for</td>
													<td>Service Provider</td>
													<td>Sellers of Goods</td>
													<td>Importer & Exporter</td>
													<td>All Business</td>
													
													
												</tr>
												<tr>
													<td>When You Need It</td>
													<td>When Sales Cross &#8377;9Lac </td>
													<td>For any imports and exports</td>
													<td>Within 30 days of operations</td>
												
													
												</tr>
												<tr>
													<td>Returns to be Filled </td>
													<td>Yes </td>
													<td>Yes </td>
													<td> No</td>
													<td> No</td>
												
												</tr>
												<tr>
													<td>Issuing Authority</td>
													<td>Central Goverment
													&nbsp;<br>
															&nbsp;<br>
															&nbsp;<br>
													
													<u>
													</td>
													
													<td>State Goverment<br>
													&nbsp;<br>
															&nbsp;<br>
														<u>	</td>
													
													<td>Director General Of Foreign Trade<br>
															
													</td>
													
													<td>Muncipal Corporation<br>
															&nbsp;<br>
															&nbsp; <br>
												</tr>
												
											</tbody>
										
										</table>
									</div>
									
									</div>
									</section>
			
				<!--------------------faq-------------------------------------->
				
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
					
     <!---footer------>
				
				<footer id="footer" class="footer">
				 
				<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
									
