<!DOCTYPE HTML>

<html>
	<head>
		<title>msme</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/off1.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Apply for MSME Registration</h2>
						<p style="color:#fff; text-align:center;">We provide the most affordable and quick service</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
						<br>
						<br>
						<br>
						<br>
						<br>
						<h3 style="color:#fff; font-size: 28px; font-weight: 500;">Get MSME only at Rs 3,500 &#8377;</h3>
						</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						
												<input type="text" name="name" id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" placeholder="Phone No" /><br>
													<select name="category" id="category">
														<option value="">- SELECT YOUR CITY-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
											
				<section>							
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">MSME REGISTRATION</h3>
				<p style="text-align:justify;">
					MSME stands for micro, small and medium enterprises and any enterprise that falls under any of these three categories. MSME enterprises are the backbone of any economy and are an engine of economic growth, promoting equitable development for all. Therefore, to support and promote MSMEs, the Government of India through various subsidies, schemes and incentives promote MSMEs through the MSMED Act. To avail the benefits under the MSMED Act from Central or State Government and the Banking Sector, MSME Registration is required.  
  
Micro, Small and Medium sized enterprises in both the manufacturing and service sector can obtain MSME Registration under the MSMED Act. Though the MSME registration is not statutory, it is beneficial for business at it provides a range of benefits such as eligibility for lower rates of interest, excise exemption scheme, tax subsidies, power tariff subsidies, capital investment subsidies and other support. IndiaFilings can help your business obtain MSME Registration to avail a host of benefits.
					</p>
				</div>
				</div>
				</div>
				</section>
			
			<!------------------------------------------imp thing---------------->
			<section style="background-color:#fff;">
			<div class="container">
			<h3 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			<ul>
			<li style="text-align:justify; list-style:none;background-color: #d1cfc6;"><i class="fa fa-play "></i><b>&nbsp; MSME Registration</b> <br/> 
			MSME Registration is an optional Registration under the MSMED Act that provides Micro, Small and Medium sized enterprises with a host of benefits and access to subsidies and schemes.
			</li>
			 <br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play "></i><b> &nbsp; Registration Criteria  </b> <br>
			To be classified as a MSME, Enterprises in the Manufacturing sector need to have less than Rs.10 crores of investment in plant & machinery; service Enterprises must have an investment of less than Rs.5 crores of investment in plant & machinery.</li>
			
			<br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play "></i><b> &nbsp;Micro Enterprises   </b> <br/>
			A Micro Enterprise in the manufacturing sector is an enterprise with less than Rs. 25 lakhs of investment in plant & machinery. A Micro Enterprise in the service sector is an enterprise with less than Rs. 10 lakhs of investment in plant & machinery.
			</li><br/>
<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play"></i> <b>&nbsp; Validity  </b> <br/> 
To sue means to institute legal proceedings against or to bring a suit in a court of law. Just as one person can bring a legal action in his/her own name against another in that person's name, a company being an independent legal entity can sue and also be sued in its own name.
 </li><br/>
			</div>
			</div>
			<div>
			</section>
			
			
				<!--------------------faq-------------------------------------->
				<section id="faq4" style="background-color:#e9e7dd;" >
				<div class="container" style="padding-top: 30px; padding-bottom: 30px; >
						
				<div class="row">
				<h3 style="text-align:center;"> Frequently Asked Questions </h3>


				<div class="col-md-12">



				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is the Private School Tuition Tax Credit?</a>
					</h4>
					</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">

					<p><strong>For 2015, married taxpayers filing jointly can give up to
					 $2,134.  Individual taxpayers can give up to $1,067. </strong></p>
					<p><form style="margin: 0;" action="https://paytrace.com/cart/donate.pay"
					 method="post" id="Form1"><input name="MID" type="hidden" value="701405438000" 
					 id="Hidden1"><input name="ID" type="hidden" value="744" id="Hidden2">
					 <input name="PID" type="hidden" value="Donation" id="Hidden3">
					 <input name="AMOUNT" type="hidden" size="5" maxlength="12" value=""><strong>To give quickly and securely online click</strong><input name="cmdPayTraceCart" type="image" src="http://asct.org/wp-content/uploads/2015/10/1232123.jpg" id="Image1"></form></p>
					<p>For more information from the Arizona Department of Revenue and the appropriate tax forms, click 
					<a href="https://www.azdor.gov/TaxCredits/SchoolTaxCreditsforIndividuals.aspx#private">here</a></p>

					</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> school tax credits?</a>
				</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">
				<p>The answer is YES!  This tax credit is in </p>
				</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Will  particular student?</a>
				</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">
				<p>No, all contributions to Arizona School Choice Trust are 
				distributed to students on a first-come, first-served basis.</p>
				</div>
				</div>
				</div>
				</div> 


				</div>
			
				</section>
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
					
     <!---footer------>
				
				<footer id="footer" class="footer">
				 
			<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
	