<!DOCTYPE HTML>

<html>
	<head>
		<title>msme</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/off1.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Apply for MSME Registration</h2>
						<p style="color:#fff; text-align:center;">We provide the most affordable and quick service</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
						<br>
						<br>
						<br>
						<br>
						<br>
						<h3 style="color:#fff; font-size: 28px; font-weight: 500;">Get MSME only at Rs 3,500 &#8377;</h3>
						</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						
												<input type="text" name="name" required id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" required id="email" value="" placeholder="Email" /><br>
											    <input type="text" name="contact" required id="contact" value="" placeholder="Phone No" /><br>
											    											     <input type="hidden" name="price" id="price" value="3500" /><br>

													<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
											
				<section>							
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">MSME REGISTRATION</h3>
				<p style="text-align:justify;">
					MSME stands for micro, small and medium enterprises and any enterprise that falls under any of these three categories. MSME enterprises are the backbone of any economy and are an engine of economic growth, promoting equitable development for all. Therefore, to support and promote MSMEs, the Government of India through various subsidies, schemes and incentives promote MSMEs through the MSMED Act. To avail the benefits under the MSMED Act from Central or State Government and the Banking Sector, MSME Registration is required.  
  
Micro, Small and Medium sized enterprises in both the manufacturing and service sector can obtain MSME Registration under the MSMED Act. Though the MSME registration is not statutory, it is beneficial for business at it provides a range of benefits such as eligibility for lower rates of interest, excise exemption scheme, tax subsidies, power tariff subsidies, capital investment subsidies and other support. IndiaFilings can help your business obtain MSME Registration to avail a host of benefits.
					</p>
				</div>
				</div>
				</div>
				</section>
			
			<!------------------------------------------imp thing---------------->
			<section style="background-color:#fff;">
			<div class="container">
			<h3 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			<ul>
			<li style="text-align:justify; list-style:none;background-color: #d1cfc6;"><i class="fa fa-play "></i><b>&nbsp; MSME Registration</b> <br/> 
			MSME Registration is an optional Registration under the MSMED Act that provides Micro, Small and Medium sized enterprises with a host of benefits and access to subsidies and schemes.
			</li>
			 <br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play "></i><b> &nbsp; Registration Criteria  </b> <br>
			To be classified as a MSME, Enterprises in the Manufacturing sector need to have less than Rs.10 crores of investment in plant & machinery; service Enterprises must have an investment of less than Rs.5 crores of investment in plant & machinery.</li>
			
			<br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play "></i><b> &nbsp;Micro Enterprises   </b> <br/>
			A Micro Enterprise in the manufacturing sector is an enterprise with less than Rs. 25 lakhs of investment in plant & machinery. A Micro Enterprise in the service sector is an enterprise with less than Rs. 10 lakhs of investment in plant & machinery.
			</li><br/>
<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play"></i> <b>&nbsp; Validity  </b> <br/> 
To sue means to institute legal proceedings against or to bring a suit in a court of law. Just as one person can bring a legal action in his/her own name against another in that person's name, a company being an independent legal entity can sue and also be sued in its own name.
 </li><br/>
			</div>
			</div>
			<div>
			</section>
			
			
				<!--------------------faq-------------------------------------->
				
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
					
     <!---footer------>
				
				<footer id="footer" class="footer">
				 
			<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
	