<!DOCTYPE HTML>

<html>
	<head>
		<title>fssai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/fssai.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Register for PAN CARD</h2>
						<p style="color:#fff; text-align:center;">WE ARE HERE TO SUPPORT BUSINESSES 24x7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
						<br>
						<br>
						<br>
						<br>
						<br>
						<h3 style="color:#fff; font-size: 28px; font-weight: 500;">Register for PAN only at Rs 999 &#8377;</h3>
						</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						
												<input type="text" name="name" id="name" value="" required placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" required placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" required placeholder="Phone No" /><br>
													<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
											    											     <input type="hidden" name="price" id="price" value="999" /><br>

										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
											
				<section>							
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">PAN Card Registration</h3>
				<p style="text-align:justify;">
					Permanent Account Number (PAN) is a mandatory registration with the Income Tax Department of India required for all
					person and entities that are required to pay Income Tax and perform certain high-value transactions. 
					The Income Tax Department uses the PAN to track all compliance and filings of an Income Tax Assesse using the PAN. 
					PAN is a 10 digit alpha-number character, 
					issued in the form of a laminated card. Once a PAN Card is issued, no continued compliance filings are necessary and it is valid for lifetime of the entity.  
					
					</p>
				<p style="text-align:justify;">

				PAN is now required in India for entering into many basic transaction like obtaining a telephone connection or paying more than Rs.25,000/- to hotels or 
				restaurants. Therefore, it is recommended for all Indian Residents and Foreign Nationals staying in India for an extended period of time to obtain PAN Card.
	
				</p>	
				</div>
				</div>
				</div>
				</section>
			
			<!------------------------------------------imp thing---------------->
			<section style="background-color:#fff;">
			<div class="container">
			<h3 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			<ul>
			<li style="text-align:justify; list-style:none;background-color: #d1cfc6;"><i class="fa fa-play-circle "></i><b>&nbsp; PAN - Permanent Account Number </b> <br/> 
			PAN is a 10 character alpha-numeric code issued by the Income Tax Department in the form of a laminated card.
			The Income Tax Department uses PAN to track and manage all Income Tax Assesses.
			
			</li>
			 <br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play-circle "></i><b> &nbsp; Validity </b> <br>
			Once a PAN is issued, it is valid for lifetime and requires no renewal. Having a PAN also does not require continue 
			compliance requirements like any annual filing. One person can have only one PAN.

			
			<br/>
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play-circle "></i><b> &nbsp; Financial Transaction   </b> <br/>
			PAN is required not only for Income Tax Filing but also for a range of basic financial transactions like selling or buying movable or immovable 
			property, depositing cash into bank, obtaining telephone connection, etc.,


			<br/>
<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play-circle "></i> <b>&nbsp; Quick Processing  </b> <br/> 
PAN can be obtained in 10-20 working days from the time of submission of application with the required documents.
 The application must be submitted in hard format along with self-attested copy of address and identity proof of the applicant.
 <br/>
	</div>
			</div>
			<div>
			</section>
			
			
				
			
									
									
									
									</div>						
							
				
				<footer id="footer" class="footer">
				 
				<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
	