<!DOCTYPE HTML>

<html>
	<head>
		<title>partnership</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">LEGALMAN</a></h1>
					<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
					<li>
						<a href="#" class="icon fa-angle-down">Services</a>
					<ul>
							<li><a href="#">New Business Registration</a><ul>
							<li><a href="properitorship.html"> Proprietorship</a></li>					
							<li><a href="partnership.html"> Partnership</a></li>
							<li><a href="opc.html">One Person Company </a></li>
							<li><a href="llp.html">Limited Liability Partnership</a></li>
							<li><a href="plc.html">Private Limited Company</a></li>
							
					</ul>
					</li>
							<li><a href ="#">Business License</a><ul>
							<li><a href="#">Import Export Business Code
					</a>
					</li>
					</ul>
					</li>
						<li><a href="#">Type Of Registration</a>
				    <ul>
						<li>
						<a href="#"> Shop & Establishment Act</a></li>
						<li>
						<a href="#"> Employee Provident Fund</a></li>
						<li>
						<a href="str.html">Service Tax </a></li>
										
						<li>
      					<a href="vat.html">VAT-TIN </a></li>
						<li>
						<a href="#">  Employee State Insurance Act</a></li>
						<li>
						<a href="#">TAN </a></li>
						<li>
						<a href="#">MSME </a></li>					
												
					</ul>
					</li>

					</ul>
					</li>					
						<li>
						<li><a href="#ask">Ask Our CA</a></li>
						<!--<li><a href="#">Knowledge Portal</a></li>-->
						<li><a href="contact.html">Contact Us </a></li>
						<li><a href="pay.html"><i class="fa fa-shopping-cart fa-lg"></i></a></li>
					</ul>
						
					</nav>
				</header>

			<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/clap.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Register for a Limited Liability</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
						
						<br>
						<br>
						<br>
						<br>
						<br>
						
					<p style="color:#fff; font-size: 28px; font-weight: 500;">Start Your Partnership Firm At  7000  &#8377;</p>
						</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						
												<input type="text" name="name" id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" placeholder="Phone No" /><br>
													<select name="category" id="category">
														<option value="">- SELECT YOUR CITY-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
			
				
						
						<!-------partnership---------------------------------------->
						<div class="container" style="padding-top:19px;">
						<h3 style="text-align:center;"><strong>PARTNERSHIP</strong></h3>
						<p>A General Partnership is a business structure in which two or more
					individuals manage and operate a business in accordance with the terms and objectives set
					out in the Partnership Deed. This structure is thought to have lost its relevance since the 
					introduction of the Limited Liability Partnership (LLP) because its partners have unlimited 
					liability, which means they are personally liable for the debts of the business. 
					However, low costs, ease of setting up and minimal compliance requirements make it a 
					sensible option for some, such as home businesses that are unlikely to take on any debt.
					
					<br>
								There are two types of Partnership firms, registered and 
								un-registered Partnership firm. It is not compulsory to register a Partnership firm; however,
								it is advisable to register a Partnership firm due to the added advantages. 
								Partnership firms are created by drafting a Partnership deed amongst the 
								Partners and IndiaFilings can help start a registered or un-registered Partnership
								firm in India.</p>
								
								<!--------------------------table------------------------------------------->	
				<section id="main" class="container">
				<div class="wq">
				
				<h3 style="text-align:center;"> QUICK COMPARISON MATRIX</h3>
				<div class="table" style="background-color:#fff;" >
			
					<div class="table-responsive">          
				  <table class="table">
					<thead>
					  <tr>
					   <th></th>
						<th>Sole Proprietorship</th>
						<th>Private Limited Company</th>
						<th>Limited Liability Partnership</th>
						<th>One Person Company</th>
						<th>Partnership</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="">Recommeneded For</td>
						<td data-th="Sole Proprietorship">Small merchants and traders</td>
						<td data-th="Private Limited Company">Start-ups and growing companies</td>
						<td data-th="Limited Liability Partnership">Professional services firms</td>
						<td data-th="One Person Company">Solo Promoters</td>
						<td data-th="Partnership">Small merchants and traders</td>
      </tr>
	  
	   <tr>
						<td data-th="">Ease of Accomodating Investments</td>
						<td data-th="Sole Proprietorship">Impossible</td>
						<td data-th="Private Limited Company">Very easy to accomodate</td>
						<td data-th="Limited Liability Partnership">Possible,but unlikely</td>
						<td data-th="One Person Company">Possible,but severly unlikely</td>
						<td data-th="Partnership">Almost impoosible</td>
						
				  </tr>
				   <tr>
						<td data-th="">Limited Liability Protection</td>
						<td data-th="Sole Proprietorship"><i class="fa fa-times fa-3x"></i> </td>
						<td data-th="Private Limited Company"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="Limited Liability Partnership"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="One Person Company"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="Partnership"><i class="fa fa-times fa-3x"></i></td>
						
				  </tr>
				   <tr>
						<td data-th="">Tax Advantages</td>
						<td data-th="Sole Proprietorship">Individual slab rates apply</td>
						<td data-th="Private Limited Company">Few benefits</td>
						<td data-th="Limited Liability Partnership">Most efficient</td>
						<td data-th="One Person Company">Few benefits</td>
						<td data-th="Partnership">Minimal</td>
						
				  </tr>

	
					<tr>
						<td data-th="">Perpetual Existence</td>
						<td data-th="Sole Proprietorship"><i class="fa fa-times fa-3x"></i></td>
						<td data-th="Private Limited Company"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="Limited Liability Partnership"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="One Person Company"><i class="fa fa-check fa-3x"></i></td>
						<td data-th="Partnership"><i class="fa fa-times fa-3x"></i></td>
						
					</tr>
					<tr>
						<td data-th="">Statutory Compliance</td>
						<td data-th="Sole Proprietorship">Minimal</td>
						<td data-th="Private Limited Company">High</td>
						<td data-th="Limited Liability Partnership">Low</td>
						<td data-th="One Person Company">High</td>
						<td data-th="Partnership">Minimal</td>
						
					</tr>
					</tbody>
				  </table>
				  </div>
				  
				  
				</div>
				</div>
		
				</section>
				</div>
			
					<!---why or not---------------------------------------------------->
						
						<section style="background-color:#f1efe8;">
						<div class="container">
						<h1> &nbsp; </h1>
						<div class="why">
				<h3 style="text-align:center;"> <strong>Why or why not choose Proprietorship? </strong></h3>
				<p>A sole proprietorship is the oldest and the most common form of business.
				It is a one-man organisation where a single individual owns, manages and controls the business </p>
				<div class="row">
				<div class="col-sm-6u" style="padding-left:70px;">
				<h4 style="font-size: 22px;"> Advantages</h4>
				<ul>
				Ease of formation<br>
				Maximum incentive for work<br>
					Secrecy of business<br>
					Quick decisions and flexibility of operations<br>
				</ul>
				
				</div>
			
											
				<div class="6u 12u(mobilep)" style="padding-left: 170px;">
				<h4 style="font-size: 22px;">Disadvantages</h4>
				<ul>
				Limited capital<br>
				Limited managerial ability<br>

				Limited life<br>

					Unlimited liability<br>

				</ul>
				</div>
				</div>
				</div>
				<hr>	
					
  
								<h3 style="text-align:center;"> <strong>We provide the most affordable and quick services.</strong></h3>
								<h1> &nbsp; </h1>
							<div class="row">
							
							<div class="6u 12u(mobilep)">
								<h1> &nbsp; </h1>
							<h4 style="font-size: 22px;"> Requirements depends on business type</h4>
							
							<ul>
							 Service Tax Registration <br> 
								Sales Tax Registration  <br>
								Shops & Establishments Act Registration <br> 
								Import-Export Code  <br>
								Professional Tax Registration<br>
							</ul>
							
								</div>
								
								<div class="6u 12u(mobilep)">
									<h1> &nbsp; </h1>
								
								<h4 style="font-size: 22px;"> All inclusive plan  3500 &#8377;</h4>
								
								
								<ul class="actions vertical small" style="width: 50%;">
												
										<h1> &nbsp; </h1>
											
										<li><a href="#" class="button special small fit">Let's start</a></li>
					</div>
				</div>
				</section>
						<!---------------sole prop--------------------------------->
					<section style="background-color:#d1cfc6; padding-bottom:19px;">
					<div class="container">
					<h3 style="text-align:center; padding-top:19px;"><strong> Sole Proprietorship Procedure </strong></h3>
					<p>A proprietorship is recognised through one or more government registrations. 
					Our representatives will advise you about the ones you will need based on the business you'
					re in, and inform you 
					of the documents you would need to provide in each case. Here is a snapshot of the process:</p>
					<div class="row uniform 50%">
					
					<div class="4u 12u(narrower)">
					<h4 style="font-size: 22px;"> Registration selection</h4><p>
					<strong>Time to complete: 1 working day</strong><br>
					
					

					We will help you decide what registration you need, whether service tax, sales tax, 
					import/export code, professional tax or Shops and Establishments Act registration.</p>
					</div>
					
					<div class="4u 12u(narrower)">
					<h4 style="font-size: 22px;"> Main Procedure </h4>
					<p><strong>Time to complete: Depends on servie</strong><br>
				
					Once you've decided what you want, we'll ask you for the 
					documents we need to get started. In most cases, you would first need to provide 
					address and identity proof as well as a scanned copy of a passport-sized photograph. 
					Some registrations (Sales Tax, for example) involve an inspection by the concerned government agency.
					We will assist you throughout the process until you receive the required registration.</p>
					</div>
					<div class="4u 12u(narrower)">
					<h4 style="font-size: 22px;">TAN Application</h4>
					<p> <strong>Time to complete: 3 working days</strong><br>
					
					Every proprietorship needs a registered Tax Account Number (TAN).
					We will make the application online ourselves, but you will need to courier hard copies 
					of the required documents 
					yourself. The TAN will be couriered to the your registered office address in 7 working days.
				</p>
					</div>
					
					</div>
					
					</div>
					
					</section>
					
				
				<!--------------------faq-------------------------------------->
				<section id="main" class="container" style="padding-bottom:19px;padding-top:19px;">
						
				<div class="row">
				<h3 style="text-align:center;">Frequently Asked Questions</h3>


				<div class="col-md-12">



				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is the Private School Tuition Tax Credit?</a>
					</h4>
					</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">

					<p><strong>For 2015, married taxpayers filing jointly can give up to
					 $2,134.  Individual taxpayers can give up to $1,067. </strong></p>
					<p><form style="margin: 0;" action="https://paytrace.com/cart/donate.pay"
					 method="post" id="Form1"><input name="MID" type="hidden" value="701405438000" 
					 id="Hidden1"><input name="ID" type="hidden" value="744" id="Hidden2">
					 <input name="PID" type="hidden" value="Donation" id="Hidden3">
					 <input name="AMOUNT" type="hidden" size="5" maxlength="12" value=""><strong>To give quickly and securely online click</strong><input name="cmdPayTraceCart" type="image" src="http://asct.org/wp-content/uploads/2015/10/1232123.jpg" id="Image1"></form></p>
					<p>For more information from the Arizona Department of Revenue and the appropriate tax forms, click 
					<a href="https://www.azdor.gov/TaxCredits/SchoolTaxCreditsforIndividuals.aspx#private">here</a></p>

					</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> school tax credits?</a>
				</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">
				<p>The answer is YES!  This tax credit is in </p>
				</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Will  particular student?</a>
				</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">
				<p>No, all contributions to Arizona School Choice Trust are 
				distributed to students on a first-come, first-served basis.</p>
				</div>
				</div>
				</div>
				</div>
				</div>
				</section>
					
			<!--</div>
		</div>
	</div>
</div>-->

								
								

			<!-- Footer
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; LEGALMAN All rights reserved.</li><li>Design: <a href="#	">Mona Malik</a></li>
					</ul>
				</footer>--------------------------------------->
				
				<footer id="footer" class="footer">
				<div class="container" >
				<div class="row">
				<div class="col-xs-12 col-sm-3">
                    <h3> LegalMan.in <span>®</span>
                    </h3>
                    <ul>
                        <li> <a href="#">Events</a></li>
                        <li>
                            <a href="#">Registration</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Ask Our CA</a>
                        </li>
                        <li>
                            <a href="#">Knowledge Portal</a>
                        </li>
                        <li>
                            <a href="#">gigfgfggf</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                    </ul>
                </div>
				<div class="col-xs-12 col-sm-6 text-center footer-middle-column">
                    <ul class="circles">
                    <li>
						<a href="https://www.facebook.com/leagalman.in" target="_blank">
                        <span class="fa fa-facebook"></span> </a>
                    </li>
                           
                    <li>
                        <a href="https://twitter.com/leagalman.in" target="_blank">
                        <span class="fa fa-twitter"></span>
                        </a>
                    </li>
					<li>
                       <a href="https://twitter.com/leagalman.in" target="_blank">
                        <span class="fa fa-instagram"></span>
                        </a>
                    </li>
					<li>
                        <a href="http://google-plus.com/leagalman.in"_blank">
                        <span class="fa fa-google-plus"></span>
						</a>
                    </li>
                    </ul>
                    <div class="support">
                        <ul>
                            
                            <li>
                                <a href="https://www.legalman.in/forums/">Documentation</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/api/">Data API</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/terms/">Terms of Use</a>
                            </li>
                            <li>
                                <a href="https://www.legalman.in/privacy/">Privacy Policy</a>
                            </li>
                            
                        </ul>   
                    </div>
                </div>
			<div class="col-xs-12 col-sm-3 footer-last-column">
            <h3> Contact</h3>
                    <ul>
                        <li>9953147642</li>
                        <li>
                            <a href="mailto:Help@freakoutZ.com">mona.malik812@gmail.com</a>
                        </li>
                        <li class="break"><br></li>
                        <li>LegalMan.in</li>
                        <li>a-23,hauz khas</li>
                        <li>New Delhi, CA 94104</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-download">
                <span>&copy;  All rights reserved|</span> <a target="_blank" href="#"> LegalMan.in</a> &nbsp; Design: <a target="_blank" href="#">Mona Malik</a><br>
                
				
		</div>
        </div>
		</footer>
						

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
		
					
					