<!DOCTYPE HTML>

<html>
	<head>
		<title>Ask our CA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">LEGAL</a>MAN</h1>
					<nav id="nav">
					<ul>
							
							<li><a href="index.html">Home</a></li>
					
 

								<li>
								<a href="#" class="icon fa-angle-down">Services</a>

								<ul>
									<li><a href="#">New Business Registration</a><ul>
                                  <li><a href="#"> Proprietorship</a></li>
										
											<li><a href="partnership.html"> Partnership</a></li>
											<li><a href="#">One Person Company </a></li>
										
										<li><a href="#">Limited Liability Partnership</a></li>
										<li><a href="#">Private Limited Company</a></li>
										
											<li><a href="#">Public Limited Company</a></li>


											</ul>
											</li>



						         <li><a href ="#">Business License</a><ul>
									<li><a href="#">Import Export Business Code
								</a></li>
									</ul>
						</li>
						<li>
					 <a href="#">Type Of Registration</a>
				     <ul>
						<li>
					    <a href="#"> Shop & Establishment Act</a></li>
										
						<li>
						<a href="#"> Employee Provident Fund</a></li>
						<li>
						<a href="#">Service Tax </a></li>
										
						<li>
      					<a href="#">VAT-TIN </a></li>
						<li>
						<a href="#">  Employee State Insurance Act</a></li>
						<li>
						<a href="#">TAN </a></li>
						<li>
						<a href="#">MSME </a></li>					
												
						</ul>
						</li>

						</ul>
						</li>					
						<li>
						<li><a href="#ask">Ask Our CA</a></li>
						<li><a href="elements.html">Knowledge Portal</a></li>
								<li><a href="contact.html">Contact Us </a></li>
							</ul>
						
					</nav>
				</header>

			<!-- Main -->
			<div id="partnership">
				<section id="main" class="container">
					<header>
						<h2>REGISTER FOR A PARTNERSHIP</h2>
						<p>We are here to support business 24*7</p>
					</header>
					<div class="box">
						<!--<span class="image featured"><img src="images/h.jpg" alt="" /></span>-->
						<div class="row">
						<div class="6u 12u(mobilep)">
						<br>
						<br>
						<br>
						<br>
						<br>
						<h3>Start Your Partnership Firm At  7000 &#8377;</h3>
						</div>
						<form method="post" action="#">
						<div class="6u 12u(mobilep)">
						
												<input type="text" name="name" id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" placeholder="Phone No" /><br>
													<select name="category" id="category">
														<option value="">- SELECT YOUR CITY-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										</div>
										</form>
										
										
										</div>
										</div>
						
						<!-------partnership---------------------------------------->
						
						
					
						
						<div class="box">
						<h3 text-align="center">PARTNERSHIP</h3>
						<hr/>
						
							
							
								
								
					<p>A General Partnership is a business structure in which two or more
					individuals manage and operate a business in accordance with the terms and objectives set
					out in the Partnership Deed. This structure is thought to have lost its relevance since the 
					introduction of the Limited Liability Partnership (LLP) because its partners have unlimited 
					liability, which means they are personally liable for the debts of the business. 
					However, low costs, ease of setting up and minimal compliance requirements make it a 
					sensible option for some, such as home businesses that are unlikely to take on any debt.
					</p>
							
								<p>
								There are two types of Partnership firms, registered and 
								un-registered Partnership firm. It is not compulsory to register a Partnership firm; however,
								it is advisable to register a Partnership firm due to the added advantages. 
								Partnership firms are created by drafting a Partnership deed amongst the 
								Partners and IndiaFilings can help start a registered or un-registered Partnership
								firm in India.</p>
								</div>
							
							
						</div>
						
	
						
						
										
												
											
						
							
							
							
							
							
							
							
					</div>
				</section>
				<div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; LEGALMAN All rights reserved.</li><li>Design: <a href="#	">Mona Malik</a></li>
					</ul>
				</footer>
						

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>