<!DOCTYPE HTML>


<html>
	<head>
		<title>payment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head> 
	<body>
		

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">LEGALMAN</a></h1>
					<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
					<li>
						<a href="#" class="icon fa-angle-down">Services</a>
					<ul>
							<li><a href="#">New Business Registration</a><ul>
							<li><a href="properitorship.html"> Proprietorship</a></li>					
							<li><a href="partnership.html"> Partnership</a></li>
							<li><a href="opc.html">One Person Company </a></li>
							<li><a href="llp.html">Limited Liability Partnership</a></li>
							<li><a href="plc.html">Private Limited Company</a></li>
							
					</ul>
					</li>
							<li><a href ="#">Business License</a><ul>
							<li><a href="#">Import Export Business Code
					</a>
					</li>
					</ul>
					</li>
						<li><a href="#">Type Of Registration</a>
				    <ul>
						<li>
						<a href="#"> Shop & Establishment Act</a></li>
						<li>
						<a href="#"> Employee Provident Fund</a></li>
						<li>
						<a href="str.html">Service Tax </a></li>
										
						<li>
      					<a href="vat.html">VAT-TIN </a></li>
						<li>
						<a href="#">  Employee State Insurance Act</a></li>
						<li>
						<a href="#">TAN </a></li>
						<li>
						<a href="#">MSME </a></li>					
												
					</ul>
					</li>

					</ul>
					</li>					
						<li>
						<li><a href="#ask">Ask Our CA</a></li>
						
						<!--<li><a href="#">Knowledge Portal</a></li>-->
						<li><a href="contact.html">Contact Us </a></li>
						<li><a href="pay.html"><i class="fa fa-shopping-cart fa-lg"></i></a></li>
					</ul>
						
					</nav>
				</header>
				
				
				
				
				<!--- question------------------->
				
				<div class="container" style="margin-top:100px;">
				<div class="row">
				<div class="col-sm-9">
				<div class="boxque">
				<h3> Please take a couple of minutes to answer the below questions </h3>
				<p>These questions will help us make the process faster</p>
				<div class="ques1">
				<p>Question 1. What will be the nature of your business?</br>
				<div class="row uniform 50%">
											<div class="4u 12u(narrower)">
												<input type="radio" id="Sales" name="priority">
												<label for="Sales">Sales</label>
											</div>
											<div class="4u 12u(narrower)">
												<input type="radio" id="Software-service" name="priority">
												<label for="Software-service">Software service</label>
											</div>
											
											<div class="4u 12u(narrower)">
												<input type="radio" id="consultancy" name="priority">
												<label for="consultancy">consultancy</label>
											</div>
											
											
										</div>
										
					<div class="row uniform 50%">
					
								<div class="4u 12u(narrower)">
												<input type="radio" id="E-Commerce" name="priority">
												<label for="E-Commerce">E Commerce</label>
											</div>
											<div class="4u 12u(narrower)">
												<input type="radio" id="Providing-Services" name="priority">
												<label for="Providing-Services">Providing Services</label>
											</div>
												<div class="4u 12u(narrower)"></div>
											</div>
											
											
											<div class="row" style="padding:20px;">
										
											<div class="col-sm-8 col-lg-8 col-md-8">
<input type="text" id="mytxt" placeholder="please specify..." class="form-control" disabled>
</div>
<div class="col-sm-3 col-lg-3 col-md-3">
<button onclick="myFunction()">other</button>

<script>
function myFunction() {
    document.getElementById("mytxt").disabled = false;
}
</script>
</div>		<div class="col-sm-1 col-lg-1 col-md-1"></div>										
											</div>
			
				</div>
				<!---------------------------------end ques1-------------->
				<div class="ques1">
				<p>Question2 . What is the current status of your business?</br>
				<div class="row uniform 50%">
											<div class="6u 12u(narrower)">
												<input type="radio" id="no" name="priority">
												<label for="no">No Activities Yet</label>
											</div>
											<div class="6u 12u(narrower)">
												<input type="radio" id="Basic-Setup-Activities" name="priority">
												<label for="Basic-Setup-Activities">Basic Setup Activities</label>
											</div>
										
										</div>
									
								<div class="row uniform 50%">
											<div class="6u 12u(narrower)">
												<input type="radio" id="Partly-Operational" name="priority">
												<label for="Partly-Operational">Partly Operational</label>
											</div>
											<div class="6u 12u(narrower)">
												<input type="radio" id="Fully-Operational" name="priority">
												<label for="Fully-Operational">Fully Operational</label>
											</div>
										
										</div>
									
				</div>
			
			<!---------------------------------end ques2-------------->
				
				<div class="ques1">
				<p>Question3 . How many director will be there in the company?</br>
				<div class="row">
				<div class="col-sm-8">
				<input type="text" id="answer" name="answer" placeholder="Input Here">
				</div>
				<div class="col-sm-4">
				&nbsp;
				</div>
				</div>
				</div>
				
				<div class="ques1">
				<p>Question4 .How much capital will you be investing in the company?</br>
				<div class="row">
				<div class="col-sm-8">
				<input type="text" id="answer" name="answer" placeholder="Input Here">
				Capital more than Rs 100,000 will attract high stamp duty

				</div>
				<div class="col-sm-4">
				&nbsp;
				</div>
				</div>
				</div>
				<div style="margin-bottom: 2em;">
				<input type="submit" value="Let's Start">
				</div>
				</div>
				</div>
				<div class="col-sm-3" style="margin-top:7em;">
				<ul><li style="list-style:none;"><a href="#" class="button fit"  data-toggle="modal" data-target="#myModal"> Checkout</a></li></ul>
				</div>
				
				</div>
				
				</div>
				<!--</div>
				</div>-->
				<!---footer------>
				
				<footer id="footer" class="footer">
				 
				<div class="container" >


               <ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li><a href="#" ><span class="label" style="font-size:149%; font-weight:0;">Home</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:149%; font-weight:0;">About Us</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:149%; font-weight:0;">contact us</span></a></li>
						<li><a href="#" ><span class="label" style="font-size:149%; font-weight:0;">Blog</span></a></li>
					</ul>  
					
					<ul class="copyright">
						<li>&copy;  All rights reserved.</li>
						<li>Design: <a href="http://'www.legalman.com">Mona Malik</a></li>
					</ul>
				</footer>
				
<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
				
<script src="js/jquery-2.1.4.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
				
<!-- Modal----------------------------------------------------------------------------------------- -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" style="color:#fff;">&times;</button>
        <h3 class="modal-title" style="color:#fff;">
		Checkout
		</h3>
      </div>
      <div class="modal-body">
	  		<div class="cd-form">
		
		<div class="cd-plan-info">
			<!-- content will be loaded using jQuery - according to the selected plan -->
		</div>

		<div class="modal-set">
		<form action="">
			<fieldset>
				<h3 style="text-align:left;"><b>Account Information</b></h3>
				<div class="row">
				<div class="col-sm-6">
					<label for="userName">Name</label>
					<input type="text" id="userName" name="userName">
				</div>
				
				<div class="col-sm-6">
					<label for="userEmail">Email</label>
					<input type="email" id="userEmail" name="userEmail">
				</div>
				</div>
				<div class="row">
				<div class="col-sm-6">
					<label for="userPassword">Business Address</label>
					<input type="password" id="userPassword" name="userPassword">
				</div>
				
				<div class="col-sm-6">
					<label for="userBusinessAddress">Pin Code</label>
					<input type="password" id="userPasswordRepeat" name="userPasswordRepeat">
				</div>
				</div>
				
				<div class="row">
				<div class="col-sm-6">
					<label for="userCity">City</label><br>
					<select name="City" id="category">
									
	 					<option value="1">DELHI</option>
							<option value="1">MUMBAI</option>
							<option value="1">AHEMDABAD</option>
							
					</select>
				</div>
				
				
				
				<div class="col-sm-6">
				<label for="service">SERVICES</label> <br>
				<select name="category" id="category">
									
					<option value="1">New Business Registration</option>
					<option value="1">Proprietorship</option>
					<option value="1">Partnership</option>
					   <option value="1">One Person Company</option>
						<option value="1">Limited Liability Partnership</option>
						<option value="1">Private Limited Company</option>
						<option value="1">Public Limited Company</option>
					</select>
					</div>		
                    </div>
			</fieldset>
				<hr>
			<fieldset>
				<h3 style="text-align:left;"><b>Payment Method</b></h3>
				
				<div class="new-box">
				<div class="row">
				<div class="col-sm-6">
					<ul class="cd-payment-gateways" >
						<li style="list-style:none;">
							<input type="radio" name="payment-method" id="paypal" value="paypal">
							<label for="paypal">Payment After Registration</label>
						</li>
						</ul>
						</div>
						<div class="col-sm-6">
						<ul class="cd-payment-gateways" >
						<li style="list-style:none;">
							<input type="radio" name="payment-method" id="card" value="card" checked>
							<label for="card"> Payment Online</label>
						</li>
						
					</ul> <!-- .cd-payment-gateways -->
					</div>
				</div>
		<div class="cd-credit-card">
					<div class="row">
						<div class="col-sm-6">
							<label for="cardNumber">Card Number</label>
							<input type="text" id="cardNumber" name="cardNumber">
						</div>
						<div class="half-width">
							<label for="cardCvc">Card CVC</label>
							<input type="text" id="cardCvc" name="cardCvc">
						</div>
						
						<div class="row">
						<div class="col-sm-12">
						<label for=">Expirationdate">Expiration date</label>
						
						</div>
						<div  class="col-sm-6">
						
							<select name="card-expiry-month" id="card-expiry-month">
										<option value="1">january</option>
										<option value="1">February</option>
										<option value="1">March</option>
										<option value="1">April</option>
										<option value="1">May</option>
										<option value="1">June</option>
										<option value="1">July</option>
										<option value="1">August</option>
										<option value="1">September</option>
										<option value="1">October</option>
										<option value="1">November</option>
										<option value="1">December</option>
										
									</select>
								</div>
								
								<div  class="col-sm-6">
								
								<select name="card-expiry-year" id="card-expiry-year">
										<option value="2015">2015</option>
										<option value="2015">2016</option>
										<option value="2015">2017</option>
										<option value="2015">2018</option>
										<option value="2015">2019</option>
										<option value="2015">2020</option>
										<option value="2015">2021</option>
										<option value="2015">2022</option>
										<option value="2015">2023</option>
										<option value="2015">2024</option>
										<option value="2015">2025</option>
									</select>
							</div>
						</div>
					</div>
				</div> <!-- .cd-credit-card -->
				</div>
				
			</fieldset>
			 <div class="modal-footer">
			<fieldset>
				<div>
					<input type="submit" value="Get started">
					<!--<input type="submit" value="cancel" style="background-color:#fff; color:#000; border-color:1px solid #e5e5e5;">-->
				</fieldset>
			</div>
		</form>
		</div>
		<a href="#0" class="cd-close"></a>
	</div> <!-- .cd-form -->
     </div>
      
    </div>

  </div>
</div>
</div>				
				
				
				
</body>
</html>
				