<!DOCTYPE HTML>


<html>
	<head>
		<title>payment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head> 
	<body>
		

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				
				

				<form name="myform" action="/pay" method="post" >
				<input type="hidden" id="price" name="price" value="<%=price%>" >
				<div class="container" style="margin-top:100px;">
				<div class="row">
				<div class="col-sm-9">
				<div class="boxque">
				<h3> Please take a couple of minutes to answer the below questions </h3>
				<p>These questions will help us make the process faster</p>
				<div class="ques1">
				<p>Question 1. What will be the nature of your business?</br>
				<div class="row uniform 50%">
											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="Sales" name="priority" onclick="myFunction()">
												<label for="Sales">Sales</label>
											</div>
											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="Software-service" name="priority" onclick="myFunction()">
												<label for="Software-service">Software service</label>
											</div>
											
											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="consultancy" name="priority" onclick="myFunction()">
												<label for="consultancy">consultancy</label>
											</div>
											
											
										</div>
										
					<div class="row uniform 50%">
					
											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="E-Commerce" name="priority" onclick="myFunction()">
												<label for="E-Commerce">E Commerce</label>
											</div>
											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="Providing-Services" name="priority" onclick="myFunction()">
												<label for="Providing-Services">Providing Services</label>
											</div>

											<div class="4u 12u(narrower)">
												<input type="radio" name="rad_btn" id="other" name="priority" onclick="myFunction()">
												<label for="other">Other</label>
											</div>

									
											</div>
											
											
											<div class="row" style="padding:20px;">
										
											<div class="col-sm-8 col-lg-8 col-md-8">
											<input type="text" id="mytxt" placeholder="please specify..." class="form-control" disabled>
											</div>
											<div class="col-sm-3 col-lg-3 col-md-3">

											<script>
											function myFunction() {
												
												if(document.myform.rad_btn[5].checked) 
													{
														
													 document.getElementById("mytxt").disabled = false;
													}
													else
													{
														document.getElementById("mytxt").value = "";
														document.getElementById("mytxt").disabled = true;
													}
											   
											}
											</script>
</div>		<div class="col-sm-1 col-lg-1 col-md-1"></div>										
											</div>
			
				</div>
				
				<div class="ques1">
				<p>Question2 . What is the current status of your business?</br>
				<div class="row uniform 50%">
											<div class="6u 12u(narrower)">
												<input type="radio" id="no" name="priority">
												<label for="no">No Activities Yet</label>
											</div>
											<div class="6u 12u(narrower)">
												<input type="radio" id="Basic-Setup-Activities" name="priority">
												<label for="Basic-Setup-Activities">Basic Setup Activities</label>
											</div>
										
										</div>
									
								<div class="row uniform 50%">
											<div class="6u 12u(narrower)">
												<input type="radio" id="Partly-Operational" name="priority">
												<label for="Partly-Operational">Partly Operational</label>
											</div>
											<div class="6u 12u(narrower)">
												<input type="radio" id="Fully-Operational" name="priority">
												<label for="Fully-Operational">Fully Operational</label>
											</div>
										
										</div>
									
				</div>
			
			<!---------------------------------end ques2-------------->
				
				<div class="ques1">
				<p>Question3 . How many director will be there in the company?</br>
				<div class="row">
				<div class="col-sm-8">
				<input type="text" id="answer" name="answer" placeholder="Input Here">
				</div>
				<div class="col-sm-4">
				&nbsp;
				</div>
				</div>
				</div>
				
				<div class="ques1">
				<p>Question4 .How much capital will you be investing in the company?</br>
				<div class="row">
				<div class="col-sm-8">
				<input type="text" id="answer" name="answer" placeholder="Input Here">
				Capital more than Rs 100,000 will attract high stamp duty

				</div>
				<div class="col-sm-4">
				&nbsp;
				</div>
				</div>
				</div>
				<div style="margin-bottom: 2em;">
				<input type="submit" value="Checkout">
				</div>
				</div>
				</div>
				<div class="col-sm-3" style="margin-top:7em;">
			
				</div>
				
				</div>
				</form>
				</div>
				<!--</div>
				</div>-->
				<!---footer------>
				
				<footer id="footer" class="footer">
				 
					<% include ./footer.html %>
				</footer>
				
<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
				
<script src="js/jquery-2.1.4.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
				

</div>				
				
				
				
</body>
</html>
				