<!DOCTYPE HTML>

<html>
	<head>
		<title>Shop</title>
			<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
						<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/book.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Apply for Shops and Establishments Act Registration</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)">
									&nbsp;
								</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						<p style="color:#fff; font-size:16px;margin:0px;font-style:bold;">Get Shops and Establishments Act Registration only at Rs 2,000 &#8377;</p>
						
												<input type="text" name="name" id="name" value="" required placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" required placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" required placeholder="Phone No" /><br>
													<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">Shops and Establishments Act Registration</h3>
				<p style="text-align:justify;">
					The Shops and Establishments Act regulates conditions of work, lists rights of employees in the unorganised sector and provides a list of obligations for every employer

					</p>
				</div>
				</div>
				</div>
				
				<!------------------------------------------imp thing---------------->
			<section style="background-color:#fff;">
			<div class="container">
			<h3 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			<ul>
			<li style="text-align:justify; list-style:none;background-color: #d1cfc6;"><i class="fa fa-play "></i><b>&nbsp; NEEDED BY ALL </b> 
			 Registration is required by all business entities, including sole proprietors working out of their homes. If you're trying to raise investment, get a loan for the business or even something as simple as a current account, you need to be registered.
			 </li>
			 <br/>
			
			<li style="text-align:justify; list-style:none; background-color: #d1cfc6;"><i class="fa fa-play"></i> <b>&nbsp;OPERATE FROM HOME</b>
 You need not have a physical shop. However, you should have an establishment. It can be any office. Even if you are operating an office from home, you can apply for this registration.
			</li><br/>
			
			</div>
			</div>
			<div>
			</section>
			
				
				
				
				
							
						<section style="background-color:#fff;">				<!---why or not---------------------------------------------------->
						<div class="container" >
						<div class="table-wrapper">
										<table class="alt" style="padding-top:40px;">
											<thead>
												<tr>
												<th style="background-color:#9C938F;"> </th>
													<th style="background-color:#9C938F;">Service-Tax Registration</th>
													<th style="background-color:#9C938F;">VAT Registration</th>
													<th style="background-color:#9C938F;">Importer Exporter Code</th>
													<th style="background-color:#9C938F;">Shop-Establishment Act</th>
											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Who it's for</td>
													<td>Service Provider</td>
													<td>Sellers of Goods</td>
													<td>Importer & Exporter</td>
													<td>All Business</td>
													
													
												</tr>
												<tr>
													<td>When You Need It</td>
													<td>When Sales Cross &#8377;9Lac </td>
													<td>For any imports and exports</td>
													<td>Within 30 days of operations</td>
												
													
												</tr>
												<tr>
													<td>Returns to be Filled </td>
													<td>Yes </td>
													<td>Yes </td>
													<td> No</td>
													<td> No</td>
												
												</tr>
												<tr>
													<td>Issuing Authority</td>
													<td>Central Goverment
													&nbsp;<br>
															&nbsp;<br>
															&nbsp;<br>
													
													<u>
													</td>
													
													<td>State Goverment<br>
													&nbsp;<br>
															&nbsp;<br>
														<u>	</td>
													
													<td>Director General Of Foreign Trade<br>
														&nbsp;<br>
															&nbsp; <br>
													<u>	
													</td>
													
													<td>Muncipal Corporation<br>
															</td>
												</tr>
												
											</tbody>
										
										</table>
									</div>
									
									</div>
									</section>
			
				<!--------------------faq-------------------------------------->
				
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
					
     <!---footer------>
				
				<footer id="footer" class="footer">
				 
					<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
									
