<!DOCTYPE HTML>

<html>
	<head>
		<title>str</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				
				<!-- Main -->
			<section >
				<div class="container" style="background-image:url(images/book.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header style="padding-top: 19px;">
						<h2 style="color:#fff;">Apply for Service Tax Registration</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="7u 12u(mobilep)"><!--style="background-color: rgba(0, 0, 0, 0.44);"-->
						<!--<form method="post" action="#" style="padding-top:13px; padding-right:10px;">
										<div class="row uniform 50%">
											<div class="9u 12u(mobilep)">
												<input type="text" name="emailid" id="email" value="" placeholder="Check the company's name availibility" />
											</div>
											<div class="3u 12u(mobilep)">
												<input type="submit" value="Search" class="fit" />
											</div>
										</div>
									</form>-->
									&nbsp;
								</div>
						<form method="post" action="#">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px;">
						<div class="12u 12u(mobilep)">
						<p style="color:#fff; font-size:16px;margin:0px;font-style:bold;">Start Your Partnership Firm At 7000&#8377;</p>
						
												<input type="text" name="name" id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" placeholder="Email" /><br>
											    <input type="text" name="contact" id="contact" value="" placeholder="Phone No" /><br>
													<select name="category" id="category">
														<option value="">- SELECT YOUR CITY-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select><br>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
											</section>
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
				<h3 style="text-align:center; padding-top:33px;">Service Tax Registration</h3>
				<p style="text-align:justify;">
					Service Tax Registration is a tax registration required for businesses providing services in 
					India. Service tax registration is an indirect tax wherein the service provider pays the tax and 
					recovers the same from the recipient of the taxable service. At present, Service Tax is levied at 
					12.3% on the value of the taxable service. This includes Education Cess @ 2% on 
					the service tax amount, and Secondary and Higher Education Cess @ 1% on the service tax amount.  
  
					Service Tax registration is mandatory for every person or business
					 in India that has provided a taxable service of value exceeding Rs.9 lakhs, in the previous 
					 financial year. Service Tax Registration is required for identification of the assesse, deposit service tax,
					 file service tax returns and undertake various processes required under the Finance Act, 1994. Failure to obtain 
					 service tax registration would attract penalty in terms of section 77 of the Finance Act, 1994.
					
					</p>
				</div>
				</div>
				</div>
							
						<section style="background-color:#fff;">				<!---why or not---------------------------------------------------->
						<div class="container" >
						<div class="table-wrapper">
										<table class="alt" style="padding-top:40px;">
											<thead>
												<tr>
												<th style="background-color:#9C938F;"> </th>
													<th style="background-color:#9C938F;">Service-Tax Registration</th>
													<th style="background-color:#9C938F;">VAT Registration</th>
													<th style="background-color:#9C938F;">Importer Exporter Code</th>
													<th style="background-color:#9C938F;">Shop-Establishment Act</th>
											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Who it's for</td>
													<td>Service Provider</td>
													<td>Sellers of Goods</td>
													<td>Importer & Exporter</td>
													<td>All Business</td>
													
													
												</tr>
												<tr>
													<td>When You Need It</td>
													<td>When Sales Cross &#8377;9Lac </td>
													<td>For any imports and exports</td>
													<td>Within 30 days of operations</td>
												
													
												</tr>
												<tr>
													<td>Returns to be Filled </td>
													<td>Yes </td>
													<td>Yes </td>
													<td> No</td>
													<td> No</td>
												
												</tr>
												<tr>
													<td>Issuing Authority</td>
													<td>Central Goverment</td>
													
													<td>State Goverment<br>
															&nbsp;<br>
															&nbsp;<br>
													
													<u></td>
													
													<td>Director General Of Foreign Trade<br>
															&nbsp; <br>
															
													<u></td>
													
													<td>Muncipal Corporation<br>
															&nbsp;<br>
															&nbsp; <br>
													<u></td>
												</tr>
												
											</tbody>
										
										</table>
									</div>
									
									</div>
									</section>
			<!------------------------------------------imp thing---------------->
			<section style="background-color:#d1cfc6;">
			<div class="container">
			<h2 style="text-align:center; padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i>&nbsp; Service tax applies only to services sold within India; exports are, therefore, exempt from this registration. Therefore, if you're billing a US-based client for, 
			say, web development work, you don't need to add service tax.</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; Service Tax Registration is mandatory for all
			service providers (as defined under the Act) with a turnover of over Rs. 9 lakh. Failure to apply
			would result in penalties of Rs. 5,000 or Rs. 200 a day, whichever is higher. Failure to collect service tax,
			once applicable, would also result in steep fines (capped at the amount owed).</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; Service Tax must be collected when your revenues are Rs. 10 lakh or over. But once this you cross this mark, you must always collect the tax even
			if your turnover is less than this in subsequent years.</p>
			
			
			</div>
			</div>
			<div>
			</section>
			
			
				<!--------------------faq-------------------------------------->
				
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
					
     <!---footer------>
				
				<footer id="footer" class="footer">
				 
				<% include ./footer.html %>
				</footer>	

		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>		
									
