<!DOCTYPE HTML>

<html>
	<head>
		<title>vat</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				<div class="body" style="background-color:#fff;">
			
					
						
				<section id= "str" style="background-color:rgba(247, 243, 243, 0.36);">
				<div class="container" style="background-image:url(images/passp.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header>
						<h2 style="color:#fff;">Register for VAT-TIN</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="12u 12u(mobilep)" style="text-align:center;">
						<br>
						<br>
						<h3 style="color:#fff; font-size: 28px; font-weight: 500;text-align:center;">Apply for Vat-Tin At 10,000 &#8377;</h3>
						</div>
						<form method="post" action="#" style="padding-left: 218px;">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px; text-align:center;">
						<div class="12u 12u(mobilep)">
						<div class="row">
						<div class="col-sm-6">
												<input type="text" name="name" id="name" required value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" required value="" placeholder="Email" />
												</div>
												<div class="col-sm-6">
											    <input type="text" name="contact" id="contact" required value="" placeholder="Phone No" /><br>
												<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>
													</div>
													</div>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													
												</ul>
										
											    		     <input type="hidden" name="price" id="price" value="10000" /><br>

										</div></div>
										</form>
										
										</div>
										</div>
											</div>
				
				<div class="container" style="padding-top:33px;">
				
				<h3 style="text-align:center;">VAT Return Filing and VAT Return Due Date</h3>
					
					<p style="text-align:justify; ">
					
					Value Added Tax (VAT) Registration or TIN Registration is a tax registration required for 
					businesses trading or manufacturing goods in India. VAT Registration replaced Sales 
					Tax in India and is synonymous with CST Registration and TIN Registration. 
					VAT is a multi-stage tax with the provision to allow 'Input tax credit (ITC)' on tax at an earlier stage, 
					which can be appropriated against the VAT liability on subsequent sale. 
					Therefore, VAT is ultimately borne by the consumer. VAT is collected and 
					governed by the State Government, so each State Government in India has distinct 
					rules applicable for their State based on the type of good manufactured or sold.
					VAT Registration is mandatory in most states for traders or manufacturers having a turnover
					of more than Rs.5 lakhs per year (Rs.10 lakhs in some states).
					IndiaFilings can help you obtain VAT or TIN Registration.  
  
					Those entities have VAT or TIN Registration must then file VAT returns on time to 
					avoid penalty. VAT is implemented by the State Governments. Hence, the VAT return 
					due date and VAT payment due date differs from state to state. VAT returns are mostly 
					due monthly, quarterly or annually. IndiaFilings can help you file e file your VAT return 
					online. Our VAT experts can help you compute your VAT payments and e file the VAT return and 
					keep you in compliance with VAT regulations. 
					</p>
					<!--<div class="row">
				<div class="12u">
				<h3 style="color:#e89980; font-size: 28px; font-weight: 500; text-align:center;">Get Service Tax Registration only at Rs 6,000 &#8377;</h3>
									<form method="post" action="#">
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="email" name="email" id="email" value="" placeholder="Email" />
											</div>
										</div>
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<div class="select-wrapper">
												<select name="place" id="place" required>
														<option >- SELECT YOUR CITY-</option>
														<option value="new_delhi">NEW DELHI</option>
														<option value="mumbai">MUMBAI</option>
														<option value="ahmedabad">AHEMDABAD</option>
														<option value="pune">PUNE</option>
														<option value="gurgaon">GURGAON</option>
														<option value="noida">NOIDA</option>
														<option value="kolkata">KOLKATA</option>
														
													</select><br>
												</div>
												</div>
												<div class="6u 12u(mobilep)">
												<input type="text" name="phone-no" id="phone-no" value="" placeholder="Phone No" />
											</div>
											</div>
											<div class="row uniform">
											<div class="12u" style="text-align:center;">
												<ul class="actions">
													<li><input type="submit" class="button special" value="Submit"></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
											</div>
										</div>
										</div>

										</form>
										
																				
									</div>-->
									</div>
									</section>
	
						<div class="container" >
						<div class="table-wrapper">
										<table class="alt" style="padding-top:40px;">
											<thead>
												<tr>
												<th style="background-color:#9C938F;"> </th>
													<th style="background-color:#9C938F;">Service-Tax Registration</th>
													<th style="background-color:#9C938F;">VAT Registration</th>
													<th style="background-color:#9C938F;">Importer Exporter Code</th>
													<th style="background-color:#9C938F;">Shop-Establishment Act</th>
											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Who it's for</td>
													<td>Service Provider</td>
													<td>Sellers of Goods</td>
													<td>Importer & Exporter</td>
													<td>All Business</td>
													
													
												</tr>
												<tr>
													<td>When You Need It</td>
													<td>When Sales Cross &#8377;9Lac </td>
													<td>For any imports and exports</td>
													<td>Within 30 days of operations</td>
												
													
												</tr>
												<tr>
													<td>Returns to be Filled </td>
													<td>Yes </td>
													<td>Yes </td>
													<td> No</td>
													<td> No</td>
												
												</tr>
												<tr>
													<td>Issuing Authority</td>
													<td>Central Goverment
															&nbsp;<br>
															&nbsp;<br>
																&nbsp;<br>
													
													<u>
													</td>
													
													<td>State Goverment<br>
															</td>
													
													<td>Director General Of Foreign Trade<br>
															&nbsp; <br>
															
													<u></td>
													
													<td>Muncipal Corporation<br>
															&nbsp;<br>
															&nbsp; <br>
													<u></td>
												</tr>
												
											</tbody>
										
										</table>
									</div>
									
									</div>
									
	<!------------------------------------------imp thing--------------------------------------------------->
			<section style="    background-color: rgb(181, 178, 169);">
			<div class="container">
			<h2 style="text-align:center;  padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i>&nbsp; VAT is to be paid only when a commodity is produced or imported and sold for the first time. Subsequent sales are exempt, as are all exports. Local and inter-state rates differ on all goods, so there's no fixed rate for sales tax.
</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; VAT is the tax you pay while purchasing raw materials and what the end-consumer ultimately pays. The number you are registered under is called Tax-payer Identification Number (TIN). VAT registration and TIN registration are, therefore, the same.
</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; A government official is likely to inspect the premises, so this should not be taken lightly. The space should be in good condition or the inspector could delay the grant of the registration.
</p>
			
			
			</div>
			</div>
			<div>
			</section>
						
						<!--------------------faq-------------------------------------->
				
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
			<!---footer------>
				
				<footer id="footer" class="footer">
				 
				<% include ./footer.html %>
				</footer>
		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
		
					
				
				