<!DOCTYPE HTML>

<html>
	<head>
		<title>vat</title>
		<% include ./links.html %>
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<% include ./header.html %>
				</header>
				<div class="body" style="background-color:#fff;">
			
					<!--container--------------------------------------->	
						
				<section id= "str" style="background-color:rgba(247, 243, 243, 0.36);">
				<div class="container" style="background-image:url(images/passp.jpg);background-repeat:no-repeat; background-size:cover; width: 100%;">
					<header>
						<h2 style="color:#fff;">Register for VAT-TIN</h2>
						<p style="color:#fff; text-align:center;">We are here to support business 24*7</p>
					</header>
					
						
					<div class="container">
						<div class="row">
						<div class="12u 12u(mobilep)" style="text-align:center;">
						<br>
						<br>
						<h3 style="color:#fff; font-size: 28px; font-weight: 500;text-align:center;">Start Your LLP At  4,000 &#8377;</h3>
						</div>
						<form method="post" action="#" style="padding-left: 218px;">
						
						<div class="row uniform 50%" style="background-color: rgba(0, 0, 0, 0.44);padding-left: 24px;padding-bottom: 12px;padding-right: 38px; text-align:center;">
						<div class="12u 12u(mobilep)">
						<div class="row">
						<div class="col-sm-6">
												<input type="text" name="name" id="name" value="" placeholder="Name" /><br>
											
												<input type="email" name="email" id="email" value="" placeholder="Email" />
												</div>
												<div class="col-sm-6">
											    <input type="text" name="contact" id="contact" value="" placeholder="Phone No" /><br>
													<select name="category" id="category">
														<option value="">- SELECT YOUR CITY-</option>
														<option value="1">DELHI</option>
														<option value="1">MUMBAI</option>
														<option value="1">AHEMDABAD</option>
														<option value="1">PUNE</option>
														
														
													</select><br>
													</div>
													</div>
													<ul class="actions">
													<li><input type="submit" value="SUBMIT" /></li>
													
												</ul>
										
										</div></div>
										</form>
										
										</div>
										</div>
											</div>
				
				<div class="container" style="padding-top:33px;">
				
				<h3 style="text-align:center;">VAT Return Filing and VAT Return Due Date</h3>
					
					<p style="text-align:justify; ">
					
					Value Added Tax (VAT) Registration or TIN Registration is a tax registration required for 
					businesses trading or manufacturing goods in India. VAT Registration replaced Sales 
					Tax in India and is synonymous with CST Registration and TIN Registration. 
					VAT is a multi-stage tax with the provision to allow 'Input tax credit (ITC)' on tax at an earlier stage, 
					which can be appropriated against the VAT liability on subsequent sale. 
					Therefore, VAT is ultimately borne by the consumer. VAT is collected and 
					governed by the State Government, so each State Government in India has distinct 
					rules applicable for their State based on the type of good manufactured or sold.
					VAT Registration is mandatory in most states for traders or manufacturers having a turnover
					of more than Rs.5 lakhs per year (Rs.10 lakhs in some states).
					IndiaFilings can help you obtain VAT or TIN Registration.  
  
					Those entities have VAT or TIN Registration must then file VAT returns on time to 
					avoid penalty. VAT is implemented by the State Governments. Hence, the VAT return 
					due date and VAT payment due date differs from state to state. VAT returns are mostly 
					due monthly, quarterly or annually. IndiaFilings can help you file e file your VAT return 
					online. Our VAT experts can help you compute your VAT payments and e file the VAT return and 
					keep you in compliance with VAT regulations. 
					</p>
					<!--<div class="row">
				<div class="12u">
				<h3 style="color:#e89980; font-size: 28px; font-weight: 500; text-align:center;">Get Service Tax Registration only at Rs 6,000 &#8377;</h3>
									<form method="post" action="#">
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div>
											<div class="6u 12u(mobilep)">
												<input type="email" name="email" id="email" value="" placeholder="Email" />
											</div>
										</div>
										<div class="row uniform 50%">
											<div class="6u 12u(mobilep)">
												<div class="select-wrapper">
													<select name="city" id="city">
														<option value="">- City -</option>
														<option value="1">Delhi</option>
														<option value="1">Mumbai</option>
														<option value="1">Gujrat</option>
														
													</select>
												</div>
												</div>
												<div class="6u 12u(mobilep)">
												<input type="text" name="phone-no" id="phone-no" value="" placeholder="Phone No" />
											</div>
											</div>
											<div class="row uniform">
											<div class="12u" style="text-align:center;">
												<ul class="actions">
													<li><input type="submit" class="button special" value="Submit"></li>
													<li><input type="reset" value="Reset" class="alt" /></li>
												</ul>
											</div>
										</div>
										</div>

										</form>
										
																				
									</div>-->
									</div>
									</section>
	<!---why or not---------------------------------------------------->
						<div class="container" >
						<div class="table-wrapper">
										<table class="alt" style="padding-top:40px;">
											<thead>
												<tr>
												<th style="background-color:#9C938F;"> </th>
													<th style="background-color:#9C938F;">Service-Tax Registration</th>
													<th style="background-color:#9C938F;">VAT Registration</th>
													<th style="background-color:#9C938F;">Importer Exporter Code</th>
													<th style="background-color:#9C938F;">Shop-Establishment Act</th>
											
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Who it's for</td>
													<td>Service Provider</td>
													<td>Sellers of Goods</td>
													<td>Importer & Exporter</td>
													<td>All Business</td>
													
													
												</tr>
												<tr>
													<td>When You Need It</td>
													<td>When Sales Cross &#8377;9Lac </td>
													<td>For any imports and exports</td>
													<td>Within 30 days of operations</td>
												
													
												</tr>
												<tr>
													<td>Returns to be Filled </td>
													<td>Yes </td>
													<td>Yes </td>
													<td> No</td>
													<td> No</td>
												
												</tr>
												<tr>
													<td>Issuing Authority</td>
													<td>Central Goverment
															&nbsp;<br>
															&nbsp;<br>
																&nbsp;<br>
													
													<u><a href="#" style="color: #D81919;"> Know More</a>
													</td>
													
													<td>State Goverment<br>
															</td>
													
													<td>Director General Of Foreign Trade<br>
															&nbsp; <br>
															
													<u><a href="#" style="color: #D81919;"> Know More</a></td>
													
													<td>Muncipal Corporation<br>
															&nbsp;<br>
															&nbsp; <br>
													<u><a href="#" style="color: #D81919;"> Know More</a></td>
												</tr>
												
											</tbody>
										
										</table>
									</div>
									
									</div>
									
	<!------------------------------------------imp thing--------------------------------------------------->
			<section style="    background-color: rgb(181, 178, 169);">
			<div class="container">
			<h2 style="text-align:center;  padding-top: 10px;"> Important Things To Know </h2>
			<div class="row">
			<div class="col-sm-12u">
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i>&nbsp; VAT is to be paid only when a commodity is produced or imported and sold for the first time. Subsequent sales are exempt, as are all exports. Local and inter-state rates differ on all goods, so there's no fixed rate for sales tax.
</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; VAT is the tax you pay while purchasing raw materials and what the end-consumer ultimately pays. The number you are registered under is called Tax-payer Identification Number (TIN). VAT registration and TIN registration are, therefore, the same.
</p>
			
			<p style="text-align:justify;"><i class="fa fa-play-circle fa-2x"></i> &nbsp; A government official is likely to inspect the premises, so this should not be taken lightly. The space should be in good condition or the inspector could delay the grant of the registration.
</p>
			
			
			</div>
			</div>
			<div>
			</section>
						
						<!--------------------faq-------------------------------------->
				<section id="faq4" style="background-color:#e9e7dd;">
				<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
						
				<div class="row">
				<h3 style="text-align:center;"> Frequently Asked Questions </h3>


				<div class="col-md-12">



				<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is the Private School Tuition Tax Credit?</a>
					</h4>
					</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">

					<p><strong>For 2015, married taxpayers filing jointly can give up to
					 $2,134.  Individual taxpayers can give up to $1,067. </strong></p>
					<p><form style="margin: 0;" action="https://paytrace.com/cart/donate.pay"
					 method="post" id="Form1"><input name="MID" type="hidden" value="701405438000" 
					 id="Hidden1"><input name="ID" type="hidden" value="744" id="Hidden2">
					 <input name="PID" type="hidden" value="Donation" id="Hidden3">
					 <input name="AMOUNT" type="hidden" size="5" maxlength="12" value=""><strong>To give quickly and securely online click</strong><input name="cmdPayTraceCart" type="image" src="http://asct.org/wp-content/uploads/2015/10/1232123.jpg" id="Image1"></form></p>
					<p>For more information from the Arizona Department of Revenue and the appropriate tax forms, click 
					<a href="https://www.azdor.gov/TaxCredits/SchoolTaxCreditsforIndividuals.aspx#private">here</a></p>

					</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> school tax credits?</a>
				</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">
				<p>The answer is YES!  This tax credit is in </p>
				</div>
				</div>
				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Will  particular student?</a>
				</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">
				<p>No, all contributions to Arizona School Choice Trust are 
				distributed to students on a first-come, first-served basis.</p>
				</div>
				</div>
				</div>
				</div> 


				</div>
			
				</section>
									
									
									
									</div>						
							<!------------------------------faq---------------------------------->		
			<!---footer------>
				
				<footer id="footer" class="footer">
				 
				<% include ./footer.html %>
				</footer>
		</div>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
		
					
				
				