<!DOCTYPE html>
<html>
<head>
<title> Affiliates | Amb Class</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Amb classe club, startup tees, new brand, wear your brand,amb, classy,discounts,clothes, Menswear, formal,casual" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<% include ./Header.html %>
	
	
	<div class="logo text-center">
				<h2 style="margin:20px;"><a href="index.html">Amb Classe by TQS</a></h2>
			</div>

<!-- Bootstrap FAQ - START -->

<!-- //news -->


<div class="container">
<h3 class="text-center"> Affiliates </h3>
<div class="col-sm-12 col-md-12 col-lg-12">
<h3>Partner with us and earn commissions now!</h3>
<p>
Earn 2% commission on sales while providing your customers with special offers and promotions! It's easy. Amb Classe is part of the Linkshare Affiliate Network, which is home to thousands of affiliates and merchants. Anyone can join! Just register as an affiliate via this Linkshare link.  Once you are registered, click the ‘programs’ tab, search for AmbClasse.com in the ‘advertiser search’ bar and request to be added as our affiliate. Whenever your visitors make a purchase on AmbClasse.com, you make money on the sale. </p>

<a href= " http://ambclasse.com/contact">JOIN NOW</a>
<h3>Amb Classe Affiliate Program</h3>
<strong>What is the Amb Classe affiliate program?</strong>

<p>AmbClasse.com is the world leader in streetwear culture and clothing. If you attract fans of streetwear fashion, lifestyle, and culture, AmbClasse.com wants to partner with you!

The Amb Classe affiliate program allows you to make commissions by referring sales from your website to AmbClasse.com.
</p>
<strong>
Why become a Amb Classe Affiliate?</strong>
<p>
You can make money by driving us sales and engaging your visitors at the same time (not just by sending them to AmbClasse.com), but by hooking them up with exclusive promotional offers, sales, and original content! If you know what’s good for you, quit wasting time, and start earning some serious cash! All it takes is posting the Amb Classe links, banners and/or logos that we designed and prepared for your site.</p>

<strong>
How does it work?</strong>
<p>
Just follow the link provided above, sign-up as an affiliate through Linkshare, request to join AmbClasse.com by clicking the ‘programs’ tab, search for AmbClasse.com in the ‘advertiser search’ bar, and start earning commissions based on our tiered commission structure.</p>

<strong>What’s the catch?</strong><br/> This is too good to be true.<br/>

There is no catch! It is absolutely free to fill this form and checks are sent out monthly. <a href="http://ambclasse.com/contact">Click here.</a><p> &nbsp; </p>

<strong>What type of graphic materials is available for my site?</strong>

<p>Amb Classe provides you with a large variety of banners, logos, product links, text links, videos and more! Amb Classe knows how important the aesthetics of your site are to you, therefore we have compiled banners in different shapes and colors to suit your website’s needs.</p>

<strong>How will I know if my site is eligible to become a Amb Classe affiliate?</strong>
<p>
It’s easy, just join the program via the link provided, request to become an affiliate, answer a few questions and wait for approval to be sent via email.</p>

<strong>Who can I contact for more information or if I have questions about the program?</strong>
<p>
Email:ambclass.enterprises@gmail.com

</p>
 <a href="http://ambclasse.com/contact"> JOIN NOW</a>
 <h1>&nbsp; </h1>
</div>
</div>


</div>
	
		<!-- footer-section -->
	<% include ./Footer.html %>
	
	
	<!-- //footer-section -->
</body>
</html>