<!DOCTYPE html>
<html>
<head>
<title>Orders & Returns</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
			<% include ./Header.html %>


		<!-- //news -->
	 
<div class="container">
<div class="col-sm-12">
<h2> &nbsp; </h2>
<p style="text-align:center; font-size:30px;">Orders & Returns</p>

<h3><strong>1. Returns / Size Replacement</strong> </h3>
<p>We hope that you will love every purchase with us. 
But if ever a product has any manufacturing defect or the ordered  size doesn’t  
fits  you, you can return it in its original condition by informing to us within 24 
hours of receiving the product. You can return to the following address: </p>

<p class="gapt20"> <strong>
Amb Classe<br>  
Karol Bagh,<br>
New Delhi - 141001<br>
Delhi (INDIA)<br>
Call at: +91 9953-147-642, 8447-990-819</strong></p>

<p class="gapt20"> In such cases, we will arrange reverse pick-up and delivery for your order. 
But in case your area does not serve by any of our logistic partners for re pick-up 
and delivery then you will have to ship it from your end and you will be reimbursed up to Rs.70
 in the form of cash voucher in your account,
Size replacement is subject to the availability of required size with Amb Classe.
 Incase required size for replacement is not available with us in that case customer will 
 reimbursed with the product value in the form of cash voucher in customer’s account
</p>
<p><strong> There are few things which you need to make sure before returning a product.</strong></p>
<p>All items to be returned or exchanged must be unused and in their original condition with all original tags and packaging intact, and should not be broken or tampered with.
In case you had purchased an item which had a free gift associated with it and you wish to return the item, please also return the free gift.
In case we have delivered the same product you have ordered and you still need size exchange then in that case we will arrange reverse pick-up and delivery for your order , however, size replacement is subject to availability of required size with us.
<br>Once your return is received by us, you will be reimbursed up to Rs 70/- towards shipping costs, if self-shipped.
 This is subject to your return having met the requirements of this Policy. </p>
 
 <h3 class="gapt20"> 2. Cancellation or Modification</h3>
 <p  class="gapt20"> <strong>2.1 Can I cancel my order? </strong> <br><br>
 Yes, you can but you can do so within 6 hours of placing an order or before 
 we have processed your order by contacting our customer care team at +91 9953-147-642, 8447-990-819
 </p>

 <p> <strong>2.2  Can I modify my order once it is placed? </strong><br><br>
Yes, you can modify the size, colour or shipping address of your order by contacting our customer support team at+91- 161­-2672590-91, 5064200. Our customer care associates can modify your order if you 
contact us before we have processed it. This is subject to availability of the product required.
 </p>
 
  <p> <strong>2.3 When and how would I receive refund of order I have cancelled? </strong><br><br>
If you had placed order by selecting Cash on delivery option, there is no amount to refund because you haven't paid for that. And if you have placed the order by using Credit/Debit card or Netbanking then we will issue a cash voucher of the same amount to your account with 15 days validity 
which you can use any time on your next purchase with us.
 </p>

 <h3 class="gapt20">3. Coupons and Cash Vouchers</h3>
<p>If there is any refund situation or any promotional campaigns in which we issue you a cash voucher or coupon, you can redeem the same in the following ways at the time of placing the order.  Click on my cart > Click on Order Summary > Enter the voucher code in the field next to the voucher code row > Click on Add > you will see your voucher is added to the cart and has the predefined value.
</p>

<h3>4. SHIPPING</h3>

  <p class="gapt20"> <strong>4.1 How much time it would take to get me my order?</strong><br><br>
Normally, we ship your order within 24 hours of receiving the order and it takes 5 to 7 days to reach to your doorstep. (Delivery time may be exceeded depends upon your location).

  </p>
 
   <p> <strong> 4.2 How orders on AmbClasse.com are delivered to me?
</strong><br><br>
We assure you the best of our services. We send your order through reputed names like JAVAS, Bluedart, DTDC, Speed Post (Depends upon your location).

  </p>
  
     <p  class="gapb30"> <strong>4.3 How would Amb Classe intimate me when my order is dispatched from its warehouse?

</strong><br><br>
We always keep you informed with the progress of your order. Once your order is shipped from our end, you will receive an SMS and an Email mentioning the shipping detail as Courier Company, Docket No, Tracking Link, Dispatch Date etc.
  </p>
 
</div>
</div>
	
		<!-- footer-section -->
	<% include ./Footer.html %>
	
	
	
	<!-- //footer-section -->
<!----> 

</body>
</html>