<!DOCTYPE html>
<html>
<head>
<title>Amb Classe</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<% include ./Header.html %>

		<!-- //news -->
	
	
<div class="container">
<div class="col-sm-12">
<h2> &nbsp; </h2>
<p style="text-align:center; font-size:30px;">	Terms and Conditions</p>
<p>Your Terms and Conditions of use
<br>
<br>
PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY, as your use of services is subject to, your acceptance of and compliance with the following terms and conditions:
BY YOUR POSITIVE ACTS OF ACCESSING <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com,</a> YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS AND CONDITIONS, YOU SHOULD NOT ACCESS OR USE www.ambclasse.com
<br>
<br>
1. This website  <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com </a>found at the uniform resource locator (URL) id -  <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com -</a> has been set up and promoted, and is maintained, by Amb Classe Retail Limited with its administrative office currently located at New Delhi, Amb Classe 
<br>
<br>
2. The website <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank"> www.ambclasse.com </a>is intended only to serve as a preliminary medium of information for its users / members / visitors.
<br>
<br>
3. In these terms, references to you, means the user registering and accessing the website. Service Providers means the third party service providers, and We or Us means Amb Classe Retail Limited.
<br>
<br>
4. By subscribing to or using any of our services, you agree that you have read, understood and are bound by the terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the terms, you must not subscribe to or use our services.
<br>
<br>
<b>Introduction of  </b><a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com</a>
 <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com</a> is an Internet based E-Commerce portal owned and operated by Amb Classe Retail Limited, a company incorporated under the laws of India.
<br>
<br>
<br>

<b><ul>Registration Information</ul></b>
<br>
<br>

Once registered, you will be confirmed along with your User ID & Password on your registered email address.
<br>
<br>
You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your password or account.
<br>
<br>
You will notify us of any unauthorized use of your password or account or any other breach of security.
<br>
<br>

We cannot and will not be liable for any loss or damage arising from your failure to comply.
<br>
<br>

<b><ul>Privacy Policy</b></ul>
<br>
<br>
We use a secure server (third party server) for Credit/Debit card transactions to protect the credit card information of our clients or any other information used for login. We reserve the right to communicate with Users regarding this site and Users use of this site or any product or service purchased by User on this site.
<br>
<br>
<b>
Q. What information does www.ambclasse.com collect from you?</b><br>
We gather information from members and guests who apply for the various services our site offers. It includes, but may not be limited to, email address, first name, last name, a user-specified password, e-mail Id, mailing address, zip code and telephone number or fax number.
<br>

<b>
Q. How  <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com</a> uses the information it collects/tracks?</b><br>
We collect information from our clients primarily to ensure that we are able to fulfill your requirements and to deliver personalized experience.
<br>
<b>
Q. With whom the site shares the information it collects/tracks?</b><br>
Any information you give us is held with the utmost care and security. We are also bound to cooperate fully should a situation arise where we are required by law or legal process to provide information about a customer.
<br>
<b>
Q. Do all visitors have to pay?</b><br>
No, all visitors to our site may browse the site, search and view any articles or features our site has to offer without entering any personal information or paying money.
<br>
<b>
Q. How  <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com</a> team can contact you?</b>
The online team will contact you from time to time to apprise you on various features and functionalities of the website. They will contact you for either "Service" or "Sales" through a variety of mediums like Email, SMS, MMS, Voice IVR, USSD, WAP messages, Telephonic Calls etc. The calls made to you will be from a regular Mobile or Landline number.
<br>
<b>Notice: We may change this Privacy Policy from time to time based on your comments or as a result of a change of policy in our company. If you have any questions regarding our Privacy Statement, please write in to ambclasse.enterprises@gmail.com.in
</b>
<br>
<br>
<b><ul>
Online Purchase and Services</ul></b>
<br>
<br>
<br>
 <a href="file:///C:/Users/DELL/Desktop/tqs/index.html" target="_blank">www.ambclasse.com</a> provides a number of online services, which enables users to purchase fashion products from Cottoncounty.in and enjoy services like downloading wallpapers, ringtones etc.
The agreement between you and us subject to the following terms and conditions:
<br>
-- Upon placing order www.ambclasse.com shall ship the product to you and be entitled to the payment of the product & associated services.
<br>
<br>
-- All prices, unless indicated otherwise are in Indian Rupees.
<br>
<br>
-- In a credit card transaction, you must use your own credit card. We will not be liable for any credit card fraud.
<br>
<br>
-- In case of non-delivery, unsatisfactory or delayed performance of services or damages or delays products will be dealt by the management and all efforts towards peaceful settlement will be entertained.
<br>
<br>
-- Orders will be delivered within 10 working days of receipt of payment subject to force majeure. Complaints and dissatisfaction will be sensitively tended to. If you happen to find defect/s in products, we will be happy to exchange it after due verification of the nature/cause/circumstances of the damage/injury and if the evidences support the defective nature of the garment only.
<br>
<br>
-- In the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or address) any extra cost towards re-delivery shall be claimed from the User placing the order.
<br>
<br>
-- Delivery of orders would be done address specific not person specific.
<br>
<br>
-- Shipment/delivery time of order processing starts from the day of receipt of the payment confirmed against the order placed with Cottoncounty.in.
<br>
<br>
-- We are not liable for any delay / non-delivery of purchased goods due the flood, fire, wars, acts of God or any Force Majeure that is beyond our control.
<br>
<br>
-- Complaints filed in cases of fraudulent payments/non-Remittance of payment will be under exclusive jurisdiction of Ludhiana Courts only.
<br>
<br>
-- Presently, the service(s) of Shopping are being offered free of cost. However, we reserve the right to charge a fee for any or such facilities.
<br>
<br>
-- We reserve the right to confirm and authenticate the information and other details provided by the User at any point of time. If upon confirmation such User details are found not to be true (wholly or partly) and are suspected to be used in Mal-intentions, we have the right in its sole discretion to reject the order and debar the User from further interactions.
<br>
<br>
-- Partial delivery of products needs to be reported within 5 days of receipt of the product.
<br>
<br>
-- The color/look of the garment appearing as on the website may differ from the actual product because of shading and light variations.
<br>
<br>
<br>
<br>
<b><ul>
Rules of Conduct</ul></b>
<br>
<br>
1. You may not distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights.
<br>
<br>

2. We may review, edit, reject, refuse to post and/or delete any content in the sole judgment of the company.
<br>
<br>

3. You may not post or transmit content, if it in any way: is patently offensive to the online community with content that promotes obscenity, pedophilia, racism, bigotry, hatred or physical harm of any kind against any group or individual; involves transmission of junk mail, chain letters, or spamming, promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;
<br>
<br>
4. Engages in commercial activity and/or sales without taking any prior written consent from us, such as contests, sweepstakes, barter, advertising and pyramid schemes, or the buying or selling of virtual items related to the sites;
<br>
<br>
5. Throughout this Terms of Use, the prior written consent given by us means a communication coming from the company's legal department, specifically in response to your request, and specifically addressing the activity or conduct for which you seek authorization;
<br>
<br>
Interferes with another user's use and enjoyment of the sites or any other individual's user and enjoyment of similar services;
<br>
<br>
Refers to any website or URL that, in the sole discretion of us, contains material that is inappropriate, contains content that would be prohibited on the sites, or violates the letter or spirit of these Terms of Use.
	<h1> &nbsp; </h1>
</div>
</div>	
	
		<!-- footer-section -->
	<% include ./Footer.html %>
	
	
	
	<!-- //footer-section -->
<!----> 

</body>
</html>