<!DOCTYPE html>
<html>
<head>
<title> Contact | Amb Classe</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<% include ./Header.html %>

		<!-- //news -->

<div class="contact-section" style="padding:0px;">
	
	 <div class="contact_grid">
	   <div class="container">
	 <div class="col-md-6">
	 <p> &nbsp; </p>
			  <h3> Meet Us</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .
			  
					 <a href="membership.html">THE CENSUS CLUB?</a>
					</p>
              			 
			 <ul class="contact_info">
			   <p style="font-size:20px;"> Location </p>
			  	<li>b-4/132, paschim vihar</li>
				
				<li>New Delhi</li>
				<li>+1-900-235-2456</li>
				
			  	<li>
				<a href="malito:ambclasse.enterprises.com">Ambclasse.enterprises.com</a></li>
			  </ul>
			 
			<p> &nbsp; </p>  
	 	</div>
		
		
		<div class="col-sm-2"></div>
	 	 <div class="col-md-4 " >
		
<div class="contact-top " ><p>&nbsp; </p>
		  <p style="font-size:29px;"> Contact Us </h3>
			     <form role="form" style="width:70%;">
				   <div class="form-group">
      <input type="text" class="form-control" id="first" placeholder="Your Name">
    </div>
	
		<div class="form-group">
     <input type="text" class="form-control" id="phone_no" placeholder="Phone No">
    </div>
	<div class="form-group">
     <input type="text" class="form-control" id="email" placeholder= "Email Id">
    </div>

	<div class="form-group">
  
  <textarea class="form-control" rows="3" id="comment"  placeholder="How Can We Help You?"></textarea>
    </div>
	
    <button type="submit" class="btn btn-default9" >Submit</button>
			<p> &nbsp; </p>		 
			<h1> &nbsp; </h1>		
				
                 </form>
				 
				 
         </div>
 
	 </div>
</div>
	 
</div>  
	
    
	 
	  
	
		<!-- footer-section -->
	<% include ./Footer.html %>
	
	
	
	<!-- //footer-section -->
	
	
<!----> 

</body>

</html>