<!DOCTYPE html>
<html>
	<head>
		<title>Amb Classe</title>
		<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="css/owl.carousel.css" rel="stylesheet">

		<script src="js/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>

		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="#" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/bootstrap.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<!-- responsiveslides -->
			<script src="js/responsiveslides.min.js"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
				    // Slideshow 4
					$("#slider4").responsiveSlides({
					auto: true,
					pager: true,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						$('.events').append("<li>after event fired.</li>");
						}
						});
						});
			</script>
		<!-- responsiveslides -->
		 <script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
					});
				});
			</script>
	</head>
	<body>
		<% include ./Header.html %>
		<div class="container">
			<div class="row">
				<div class="col-sm-12"> 
					<div class="logo text-center">
					<a href="http://ambclasse.com/"><img src="images/amb3.png" style="height:60px;"></a>
 					</div>
				</div>
			</div>
		</div>
	
	
	  
	
	<div class="screen-shots">
		<div class="sreen-gallery-cursual">
		       <div id="owl-demo" class="owl-carousel">
	                <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c5.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Get Ready for this season with classy formals </p>
									<h5 class="s-heading"> </h5>
								</div>
	                		</div>
	                	</div>
	                </div>
	                <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c3.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Explore vibrant and summery casuals</p>
									<h5 class="s-heading"> </h5>
								</div>
                               </div>
	                		</div>
	                </div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c6.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Smart Tees for everyday life</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	               <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c4.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Must Have shirts for semi – formal office days </p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c1.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Comfy and Cool Jackets to go with both formals and casuals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c2.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">A modern take on metro Man’s fashion taste</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	               <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c3.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Get Ready for this season with classy formals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	                 <div class="item">
	                	<div class="item-grid">
	                		<div class="item-pic">
	                			<img src="images/c4.jpg" alt="" />
								<div class="item-text text-center">
									<p class="s-para">Explore vibrant and summery casuals</p>
									<h5 class="s-heading"></h5>
								</div>
                               </div>
	                		</div>
	                	</div>
	            </div>
            </div>
		</div>

		<script src="js/lightbox.js"></script>
	    <script src="js/owl.carousel.js"></script>
	    <script>
		    $(document).ready(function() {
		      $("#owl-demo").owlCarousel({
		        items :4,
		        lazyLoad : true,
		        autoPlay : true,
		        navigation : false,
		        navigationText :  false,
		        pagination : true,
		      });
		    });
	    </script>
							 	
		<div class="welcome text-center">
			<div class="container">
			    <h2>Welcome To Amb Classe</h2>
				<p>  
				Amb Classe is the leading manufacturer of readymade and 
				stylish fashionwear brand. A wide spreading network of retail stores putting on global standards in men's wear. The product highlights are formals, casuals, shirts, t-shirts, trousers, denims, jackets and even woolens followed by many others you require. An extended number of exclusive stores which is version with its approach every single day to desired wants. We offer you a product which is highly upto your expectations and of course with affordable and quality materials. 
				You will get a variety with unusual content. Its our effort to convince our customers with ultimate consumer. With your presence we are highly obliged. Lifestyle clothing 
				that each of you can comfortably buy and show off, amb classe is expanding at 
				a rate unsurpassed by any other in the category.
				
				</p>
			</div>
		</div>
		<p>&nbsp; </p>
		
 		<div class="parallax parallax2">
            <div class="parallax-pattern"></div>
            <div class="container">  
				<div class="col-sm-12 col-md-12 col-lg-12 text-center gapt30">
					<h1 style="font-size: 2.5em;">  We also serve through wide range of stores across Delhi .</h1>
					<p style="font-size:1.5em; color:#fff;">
					Additionally, we offer clothing merchandize across Delhi through our stores. Feel free to step in and explore for an enhanced retail experience. From personal shoppers to corporate visitors, we are here to help you find the best. 
					</p>
					<p><button type="button" class="btn btn-danger btn-lg"> <a href="gallery.html" style="color:#fff;">Explore</a></button></p>
				</div>
			</div>
		</div>
		

<div class="container"  style="padding-top:54px; padding-bottom:54px;">
		<h1 class="text-center"> Our Services </h1>
		<div class="row" style="padding-top:54px;">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
       <a class="mask"><img src="images/slider-1.jpg" class="img-responsive zoom-img" alt="" /></a>
	   </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>  Customer First Approach</h3>
<p style="line-height: 26px;">   We at Amb Classe strive towards providing customers with Quality and Comfort at affordable prices. </p>
<p>        <!--<button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
        <a class="mask" href="#"><img src="images/slider-7.jpg" class="img-responsive zoom-img" alt="" /></a>
					
		</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3> Exchange at incredible discounts</h3>
<p style="line-height: 26px;">  Wear your clothes for as long  and exchange them with us for unbelievable discounts on your next purchase. Clothing from any brand is open for exhcange with us. </p>
<p>        <!--<button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Seamless Shopping Experience and customer service</h3>
<p style="line-height: 26px;">We put our customers first and work round the clock for a great shopping experience and after sales service in our stores.</p>
<p>      <!--  <button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
        <a class="mask" ><img src="images/slider-2.jpg" class="img-responsive zoom-img" alt="" /></a>
			
		</div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Try clothes online yourself, virtually </h3>
<p style="line-height: 26px;">Try on clothes virtually, thanks to our innovative online “Try-On” feature.  </p>
<p>       <!-- <button type="button" class="btn btn-info btn-lg">Read More…</button>-->
        </p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<a class="mask"><img src="images/slider-4.jpg" class="img-responsive zoom-img" alt="" /></a>       
	   </div>
<p></p></div>
<p></p></div>
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
      <a class="mask" href="single.html"><img src="images/slider-6.jpg" class="img-responsive zoom-img" alt="" /></a>
			
	  </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3>Collections for any mood! </h3>
<p style="line-height: 26px;">Any occasion, season or mood, we will have always something for you. </p>
<p>      
        </p></div>
<p></p></div>
<p></p></div>  
<p></p></div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="tilebox">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
       	<a class="mask" ><img src="images/slider-5.jpg" class="img-responsive zoom-img" alt="" /></a>
	   </div>
<div class="col-lg-6 col-md-6 col-sm-6">
<h3> Custom cuts and style 
</h3>
<p style="line-height: 26px;">We have aligned with several young designers to deliver custom fits for any build and height.  </p>
<p>      
        </p></div>
<p></p></div>
<p></p></div>
<p></p></div>
<p></p></div>

</div>  
		
		
		<div class="second-slider">
			<div class="container">
			<h3 class="tes text-center">Testimonials</h3>
				<div  id="top" class="callbacks_container">
							<ul class="rslides" id="slider4">
								<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes1.jpg" alt="" />
										<h4 style="background-color:none;">Alissa Turner</h4>
										<p>I just got my first order and I have one word WOW!!!! Love, Love, Love these cloths!! I had my doubts before I ordered because most sites plus size cloths are too small and I'm usually disappointment, but not this time!! The shipping was also really fast1 only took about 9 days to get to me. Love it!! I'll be back to buy more. For Sure!</p>
									</div>
								</li>  
								<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes2.jpg" alt="" />
										<h4 style="background-color:none;">Ronnie Toh</h4>
										<p> This is my very first order through site, and I am totally and completely satisfied! The fit is great and so are the prices. I will definitely return again and again...</p>
									</div>
								</li>
	  							<li>
									<div class="sec-slid-info text-center">
										<img src="images/tes3.jpg" alt="" />
										<h4 style="background-color:none;">Singem Middile</h4>
										<p>Just wanted to say that i am very pleased with this web site. Yours Clothing thank you so much for offering wonderful fun flirty clothing for us Plus size girls, for once there are beautiful clothes that fit us girls just right! This was my first purchase from this web site and let me tell you i have had the best experience ever!</p>
									</div>
								</li>
							</ul>
				</div>
			</div>
		</div>

		<% include ./Footer.html %>
</body>
</html>