
<!DOCTYPE html>
<html>
<head>


<title>Amb Classe Membership</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href="ambclasse_css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="ambclasse_css/owl.carousel.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="ambclasse_css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="ambclasse_css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->

	
	<% include ./header.html %>   
	
<!-- //navigation -->



		
			</div>

			</div>
			
			
	
	
	<!-- question-->
	
	<div class="container-fluid">
	<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12  text-center">
	
<p  class="gapt40">Step 1 of 3</p>
<p style="font-size:18px;"> HOW WOULD YOU DESCRIBE YOUR STYLE?</p> 
<div id="image_container">

<div class="gapt40">
<div class="col-sm-3 col-md-3 col-lg-3">
   <input type="image" src="images/ambquiz1.jpg" alt="ambquiz1" width="300" height="500"    class="" /> Forward </div>
 <div class="col-sm-3 col-md-3 col-lg-3">  
 <input type="image" src="images/ambquiz2.jpg" alt="ambquiz2" width="300" height="500"   class="" /> Casual </div>
 <div class="col-sm-3 col-md-3 col-lg-3">   
 <input type="image" src="images/ambquiz3.jpg" alt="ambquiz3" width="300" height="500"  class="" /> Classic </div>
<div class="col-sm-3 col-md-3 col-lg-3">	
<input type="image" src="images/ambquiz4.jpg" alt="ambquiz4" width="300" height="500"   class="" /> Mix </div>
</div>

</div>  

<h1> &nbsp; </h1>
<p >Step 2 of 3</p>
<p style="font-size:18px;"> WHAT COLOR SCHEME DO YOU LIKE TO WEAR THE MOST?</p> 
<div id="image_containeramb">

<div class="gapt40">  
<div class="col-sm-3 col-lg-3  hidden-xs"></div>
<div class="col-sm-3 col-md-3 col-lg-3">
   <input type="image" src="images/ambquiz5.jpg" alt="ambquiz1" width="300" height="500"    class="" /> Forward </div>
 <div class="col-sm-3 col-md-3 col-lg-3">  
 <input type="image" src="images/ambquiz6.jpg" alt="ambquiz2" width="300" height="500"   class="" /> Casual </div>
 <div class="col-sm-3 col-lg-3 hidden-xs"></div>
</div>
</div>
</div>



<div class="container gapb50">
	<div class="row text-center">
        <br>
<h1> &nbsp; </h1>
        <p>Step 3 of 3</p>        <br>
<p style="font-size:18px;">WHAT IS YOUR TOP SIZE?</p> 
        <br>
		<label for="default" class="btn btn-default">S <input type="checkbox" id="default" class="badgebox"><span class="badge">&check;</span></label>
      <label for="danger" class="btn btn-danger">M<input type="checkbox" id="danger" class="badgebox"><span class="badge">&check;</span></label>
        <label for="info" class="btn btn-info">L <input type="checkbox" id="info" class="badgebox"><span class="badge">&check;</span></label>
        <label for="success" class="btn btn-success">XL <input type="checkbox" id="success" class="badgebox"><span class="badge">&check;</span></label>
        <label for="warning" class="btn btn-warning">XXL <input type="checkbox" id="warning" class="badgebox"><span class="badge">&check;</span></label>
        <div class="gapt40 gapb40">
		
	<a href="http://ambclasse.com/contact" class="btn btn-lg btn-info">Get Started</a>
		</div>
		
	</div>
	
</div> 
 
</div> 

</div> 


	 
<script>  
    $("div#image_container :image").click(function () {
        $("div#image_container :image").css("border", "0");
        $(this).css("border", "14px double green");
    });
</script>	
<script>  
    $("div#image_containeramb :image").click(function () {
        $("div#image_containeramb :image").css("border", "0");
        $(this).css("border", "14px double green");
    });
</script>	
	
		<!-- footer-section -->
		
		
<% include ./footer.html %>  
	
	
	
	<!-- //footer-section -->
	
	
	
				
			
			
			
	

</body>
</html>